<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
       ng-if="user.akses.master" ng-class="{active: $state.includes('master')}">
        <i class="fa fa-cog nav-icon"></i>
        <span>Master</span>
    </a>
    <ul class="dropdown-menu">
        <a class="dropdown-item" ui-sref-active="active" ui-sref="app.kategori_galeri"
           ng-if="user.akses.kategori_galeri">
            Gallery
        </a>
        <a class="dropdown-item" ui-sref-active="active" ui-sref="app.artikel"
           ng-if="user.akses.artikel">
            Artikel
        </a>
    </ul>
</li>