<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        /*width: 5%;*/
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 5px;

    }

    table .tr .td {
        padding-bottom: 5px;
    }

    .well {
        min-height: 20px;
        /*padding: 19px;*/
        /*margin-bottom: 20px;*/
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        /*padding: 9px;*/
        border-radius: 3px;
    }
    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
    }
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
            </div>

            <h2><b><u>
                        <center>SURAT KETERANGAN AHLI WARIS</center>
                    </u></b></h2>

                <center>Nomor : </center>

            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p >Yang bertanda tangan di bawah ini :</p>
                <table width="100%">
                    <tr>
                        <td style="width: 25%;"><p>Nama</p></td>
                        <td>:</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><p>Jabatan</p></td>
                        <td>:</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td> </td>
                    </tr>
                </table>

                <p>Menerangkan dengan sebenar-benarnya bahwa :</p>
                <table width="100%">
                    <tr>
                        <td style="width: 25%;">Nama Lengkap</td>
                        <td>:</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tempat tgl.lahir</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Agama</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                </table>

                <p>Nama tersebut diatas adalah benar telah meninggal dunia pada hari
                Kamis, tanggal 28 Januari 2017 di Desa Campurejo dan sebagai ahli warisnya adalah :</p>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>NO</th>
                        <th>NAMA</th>
                        <th>L/P</th>
                        <th>UMUR</th>
                        <th>ALAMAT</th>
                        <th>KETERANGAN</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01</td>
                        <td>Sutini</td>
                        <td>P</td>
                        <td>67 th</td>
                        <td>Desa Sribawono</td>
                        <td>Anak Kandung</td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <p>Demikian Surat Keterangan Ahli waris ini kami berikan untuk persyaratan
                    pengurusan Surat Kuasa pembagian harta waris.</p>
                <br>

                <table width="100%">
                    <tr>
                        <td width="50%"></td>
                        <td align="center" style="width: 50%">
                            {{ model.desa }}, {{ model.hari_ini }}<br>
                            {{ model.ttd.jabatan}} {{ model.desa }}<br>
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;">
                                    <img style="width: auto; height: 130px; " src="../file/ttd/{{ model.ttd.ttd }}">
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>

{#<script>#}
{#    window.print();#}
{#    setTimeout(function () { window.close(); }, 3000);#}
{#</script>#}