<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        /*width: 5%;*/
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 5px;

    }

    table .tr .td {
        padding-bottom: 5px;
    }

    .well {
        min-height: 20px;
        /*padding: 19px;*/
        /*margin-bottom: 20px;*/
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        /*padding: 9px;*/
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="F4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
    }

    .border {
        border-collapse: collapse;
    }

    .border th, .border td {
        border: 1px solid #000000;
        width: 20px;
        text-align: center;
    }
</style>

<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
            </div>

            <div style="padding-left: 50px;padding-right: 20px">
                <table width="100%">
                    <tr>
                        <td style="width: 25%;"><p>Pemerintah Desa</p></td>
                        <td>:</td>
                        <td>CAMPUREJO</td>
                    </tr>
                    <tr>
                        <td><p>Kecamatan</p></td>
                        <td>:</td>
                        <td>SAMBIT</td>
                    </tr>
                    <tr>
                        <td><p>Kabupaten</p></td>
                        <td>:</td>
                        <td>PONOROGO</td>
                    </tr>
                    <tr>
                        <td><p>Kode Wilayah</p></td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>4</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>8</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <p>
                <center><b><u>SURAT KETERANGAN KELAHIRAN</u></b></center>
                </p>

                <table width="100%">
                    <tr>
                        <td style="width: 25%;"><p>Nama Kepala Keluarga</p></td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>B</td>
                                    <td>A</td>
                                    <td>G</td>
                                    <td>U</td>
                                    <td>S</td>
                                    <td></td>
                                    <td>A</td>
                                    <td>D</td>
                                    <td>I</td>
                                    <td></td>
                                    <td>I</td>
                                    <td>R</td>
                                    <td>A</td>
                                    <td>W</td>
                                    <td>A</td>
                                    <td>N</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%;"><p>Nomor Kartu Keluarga</p></td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>4</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>9</td>
                                    <td>1</td>
                                    <td>8</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <p style="margin-left: 10px;"><b>BAYI ANAK</b></p>
                <table width="100%">
                    <tr>
                        <td>1.</td>
                        <td style="width: 23%;">Nama</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>A</td>
                                    <td>M</td>
                                    <td>I</td>
                                    <td>R</td>
                                    <td>A</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>2.</td>
                        <td style="width: 23%;">Jenis Kelamin</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>2</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>3.</td>
                        <td style="width: 23%;">Tempat dilahirkan</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>4.</td>
                        <td style="width: 23%;">Tempat Kelahiran</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>P</td>
                                    <td>O</td>
                                    <td>N</td>
                                    <td>O</td>
                                    <td>R</td>
                                    <td>O</td>
                                    <td>G</td>
                                    <td>O</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>5.</td>
                        <td style="width: 23%;">Hari dan Tanggal Lahir</td>
                        <td>:</td>
                        <td>Hari</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>K</td>
                                    <td>A</td>
                                    <td>M</td>
                                    <td>I</td>
                                    <td>S</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>6.</td>
                        <td style="width: 23%;">Pukul</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                    <td>4</td>
                                    <td>:</td>
                                    <td>1</td>
                                    <td>5</td>
                                </tr>
                            </table>
                        <td>wib</td>
                        </td>
                    </tr>

                    <tr>
                        <td>7.</td>
                        <td style="width: 23%;">Jenis Kelahiran</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                </tr>
                            </table>
                        </td>
                        <td>1.Tunggal</td>
                    </tr>

                    <tr>
                        <td>8.</td>
                        <td style="width: 23%;">Kelahiran ke</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>2</td>
                                </tr>
                            </table>
                        </td>
                        <td>1.</td>
                    </tr>

                    <tr>
                        <td>9.</td>
                        <td style="width: 23%;">Penolong Kelahiran</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                </tr>
                            </table>
                        </td>
                        <td>1.Dokter</td>
                    </tr>

                    <tr>
                        <td>10.</td>
                        <td style="width: 23%;">Berat Bayi</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>2</td>
                                    <td>8</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </table>
                        </td>
                        <td>gram</td>
                    </tr>

                    <tr>
                        <td>11.</td>
                        <td style="width: 23%;">Panjang Bayi</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>4</td>
                                    <td>8</td>
                                </tr>
                            </table>
                        </td>
                        <td>Cm</td>
                    </tr>
                </table>

                <p style="margin-left: 10px;"><b>IBU</b></p>
                <table width="100%">
                    <tr>
                        <td>1.</td>
                        <td style="width: 23%;">NIK</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>0</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>2.</td>
                        <td style="width: 23%;">Nama Lengkap</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>I</td>
                                    <td>A</td>
                                    <td>Y</td>
                                    <td>A</td>
                                    <td>T</td>
                                    <td>U</td>
                                    <td>L</td>
                                    <td></td>
                                    <td>H</td>
                                    <td>I</td>
                                    <td>D</td>
                                    <td>A</td>
                                    <td>Y</td>
                                    <td>A</td>
                                    <td>T</td>
                                    <td>I</td>
                                    <td></td>
                                    <td>S</td>
                                    <td>P</td>
                                    <td>d</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>3.</td>
                        <td style="width: 23%;">Tanggal lahir umur</td>
                        <td>:</td>
                        <td>Tgl</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                    <td>5</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>4.</td>
                        <td style="width: 23%;">Pekerjaan</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                    <td>5</td>
                                </tr>
                            </table>
                        <td>Wiraswasta</td>
                        </td>
                    </tr>

                    <tr>
                        <td>5.</td>
                        <td style="width: 23%;">Alamat</td>
                        <td>:</td>
                        <td>
                            <table class="border" style="width: 350px;">
                                <tr>
                                    <td>RT 01 RW 01 DUSUN BIBIS I</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>a.</td>
                        <td>Desa</td>
                        <td>
                           <table class="border">
                               <td>Campurejo</td>
                           </table>
                        </td>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>b.</td>
                        <td>Kecamatan</td>
                        <td>
                            <table class="border">
                                <td>Sambit</td>
                            </table>
                        </td>
                    </tr>
                    </tr>

                    <tr>
                        <td>6.</td>
                        <td style="width: 23%;">Kewarganegaraan</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                </tr>
                            </table>
                        <td>1.WNI</td>
                        </td>
                    </tr>

                    <tr>
                        <td>7.</td>
                        <td style="width: 23%;">Kebangsaan</td>
                        <td>:</td>
                        <td>
                            <table class="border" style="width: 350px;">
                                <tr>
                                    <td>Indonesia</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>8.</td>
                        <td style="width: 23%;">Tgl Pencatatan Perkawinan</td>
                        <td>:</td>
                        <td>Tgl</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>3</td>
                                    <td>0</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <p style="margin-left: 10px;"><b>AYAH</b></p>
                <table width="100%">
                    <tr>
                        <td>1.</td>
                        <td style="width: 23%;">NIK</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>0</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>2.</td>
                        <td style="width: 23%;">Nama Lengkap</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>B</td>
                                    <td>A</td>
                                    <td>G</td>
                                    <td>U</td>
                                    <td>S</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>3.</td>
                        <td style="width: 23%;">Tanggal lahir umur</td>
                        <td>:</td>
                        <td>Tgl</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                    <td>5</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>4.</td>
                        <td style="width: 23%;">Pekerjaan</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                    <td>5</td>
                                </tr>
                            </table>
                        <td>Wiraswasta</td>
                        </td>
                    </tr>

                    <tr>
                        <td>5.</td>
                        <td style="width: 23%;">Alamat</td>
                        <td>:</td>
                        <td>
                            <table class="border" style="width: 350px;">
                                <tr>
                                    <td>RT 01 RW 01 DUSUN BIBIS I</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>a.</td>
                        <td>Desa</td>
                        <td>
                            <table class="border">
                                <td>Campurejo</td>
                            </table>
                        </td>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>b.</td>
                        <td>Kecamatan</td>
                        <td>
                            <table class="border">
                                <td>Sambit</td>
                            </table>
                        </td>
                    </tr>
                    </tr>

                    <tr>
                        <td>6.</td>
                        <td style="width: 23%;">Kewarganegaraan</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                </tr>
                            </table>
                        <td>1.WNI</td>
                        </td>
                    </tr>

                    <tr>
                        <td>7.</td>
                        <td style="width: 23%;">Kebangsaan</td>
                        <td>:</td>
                        <td>
                            <table class="border" style="width: 350px;">
                                <tr>
                                    <td>Indonesia</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <p style="margin-left: 10px;"><b>PELAPOR</b></p>
                <table width="100%">
                    <tr>
                        <td>1.</td>
                        <td style="width: 23%;">NIK</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>0</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>2.</td>
                        <td style="width: 23%;">Nama Lengkap</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>B</td>
                                    <td>A</td>
                                    <td>G</td>
                                    <td>U</td>
                                    <td>S</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>3.</td>
                        <td style="width: 23%;">Umur</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>2</td>
                                    <td>6</td>
                                </tr>
                            </table>
                        <td>Tahun</td>
                        </td>
                    </tr>

                    <tr>
                        <td>4.</td>
                        <td style="width: 23%;">Jenis Kelamin</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                </tr>
                            </table>
                        <td>Laki-laki</td>
                        </td>
                    </tr>

                    <tr>
                        <td>5.</td>
                        <td style="width: 23%;">Pekerjaan</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                    <td>5</td>
                                </tr>
                            </table>
                        <td>Wiraswasta</td>
                        </td>
                    </tr>

                    <tr>
                        <td>6.</td>
                        <td style="width: 23%;">Alamat</td>
                        <td>:</td>
                        <td>
                            <table class="border" style="width: 350px;">
                                <tr>
                                    <td>RT 01 RW 01 DUSUN BIBIS I</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>a.</td>
                        <td>Desa</td>
                        <td>
                            <table class="border">
                                <td>Campurejo</td>
                            </table>
                        </td>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>b.</td>
                        <td>Kecamatan</td>
                        <td>
                            <table class="border">
                                <td>Sambit</td>
                            </table>
                        </td>
                    </tr>
                </table>

                <p style="margin-left: 10px;"><b>SAKSI I</b></p>
                <table width="100%">
                    <tr>
                        <td>1.</td>
                        <td style="width: 23%;">NIK</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>0</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>2.</td>
                        <td style="width: 23%;">Nama Lengkap</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>B</td>
                                    <td>A</td>
                                    <td>G</td>
                                    <td>U</td>
                                    <td>S</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>3.</td>
                        <td style="width: 23%;">Umur</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>7</td>
                                    <td>0</td>
                                </tr>
                            </table>
                        <td>Tahun</td>
                        </td>
                    </tr>

                    <tr>
                        <td>4.</td>
                        <td style="width: 23%;">Pekerjaan</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                    <td>5</td>
                                </tr>
                            </table>
                        <td>Wiraswasta</td>
                        </td>
                    </tr>

                    <tr>
                        <td>5.</td>
                        <td style="width: 23%;">Alamat</td>
                        <td>:</td>
                        <td>
                            <table class="border" style="width: 350px;">
                                <tr>
                                    <td>RT 01 RW 01 DUSUN BIBIS I</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>a.</td>
                        <td>Desa</td>
                        <td>
                            <table class="border">
                                <td>Campurejo</td>
                            </table>
                        </td>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>b.</td>
                        <td>Kecamatan</td>
                        <td>
                            <table class="border">
                                <td>Sambit</td>
                            </table>
                        </td>
                    </tr>
                </table>

                <p style="margin-left: 10px;"><b>SAKSI II</b></p>
                <table width="100%">
                    <tr>
                        <td>1.</td>
                        <td style="width: 23%;">NIK</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>0</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>2.</td>
                        <td style="width: 23%;">Nama Lengkap</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>B</td>
                                    <td>A</td>
                                    <td>G</td>
                                    <td>U</td>
                                    <td>S</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>3.</td>
                        <td style="width: 23%;">Umur</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>7</td>
                                    <td>0</td>
                                </tr>
                            </table>
                        <td>Tahun</td>
                        </td>
                    </tr>

                    <tr>
                        <td>4.</td>
                        <td style="width: 23%;">Pekerjaan</td>
                        <td>:</td>
                        <td>
                            <table class="border">
                                <tr>
                                    <td>1</td>
                                    <td>5</td>
                                </tr>
                            </table>
                        <td>Wiraswasta</td>
                        </td>
                    </tr>

                    <tr>
                        <td>5.</td>
                        <td style="width: 23%;">Alamat</td>
                        <td>:</td>
                        <td>
                            <table class="border" style="width: 350px;">
                                <tr>
                                    <td>RT 01 RW 01 DUSUN BIBIS I</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>a.</td>
                        <td>Desa</td>
                        <td>
                            <table class="border">
                                <td>Campurejo</td>
                            </table>
                        </td>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>b.</td>
                        <td>Kecamatan</td>
                        <td>
                            <table class="border">
                                <td>Sambit</td>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>
        </page>
    </div>
</div>

{# <script>#}
{# window.print();#}
{# setTimeout(function () { window.close(); }, 3000);#}
{# </script>#}