<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        width: 5%;
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 10px;

    }

    table .tr .td {
        padding-bottom: 10px;
    }
    table tr td {
        vertical-align: top;
        text-transform: capitalize;
    }

    table tr td u {
        vertical-align: top;
        text-transform: uppercase;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        padding: 9px;
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }
</style>


<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <span class="btn btn-danger pull-right" ng-click="close()"> <i class="fa fa-times"></span>
            </div>
            <div>
                <img src="../file/kop_surat/{{ pengaturan.kop_surat }}" style="width: 100%">
            </div>
            {# {{ model.isi | raw }} #}
            <h2><b><u>
                        <center>SURAT KETERANGAN WALI</center>
                    </u></b></h2>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Yang bertanda tangan dibawah ini Kepala Desa {{ desa.desa }} Kecamatan {{ desa.kecamatan }} {{model.kabupaten}}, menerangkan dengan sebenarnya bahwa :</p><br/>
                <table style="width: 100%">
                    <tr>
                        <td width="40%"><p>Nama</p></td>
                        <td>:</td>
                        <td width="60%">{{ yang_mengajukan.ayah_nama }}</td>
                    </tr>
                    <tr>
                        <td><p>NIK</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.ayah_nik }}</td>
                    </tr>
                    <tr>
                        <td><p>Tgl Lahir</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.ayah_tempat_lahir }}, {{ yang_mengajukan.ayah_tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.ayah_agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.ayah_pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.ayah_alamat }}</td>
                    </tr>
                </table>
                <br/>
                {% if model.yang_mengajukan == 'suami' %}
                <p>Adalah sebagai wali nikah dari seorang Laki-laki :</p>
                {% endif %}
                {% if model.yang_mengajukan == 'istri' %}
                    <p>Adalah sebagai wali nikah dari seorang Perempuan :</p>
                {% endif %}
                <table style="width: 100%">
                    <tr>
                        <td width="40%"><p>Nama</p></td>
                        <td>:</td>
                        <td width="60%">{{ yang_mengajukan.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>NIK</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>Tgl Lahir</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.tempat_lahir }}, {{ yang_mengajukan.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.alamat }}</td>
                    </tr>
                </table>
                {% if model.yang_mengajukan == 'istri' %}
                    <p>
                        Hubungan wali / status terhadap perempuan tersebut : {{ yang_mengajukan.hubungan }}
                    </p>
                {% endif %}
                {% if model.yang_mengajukan == 'suami' %}
                    <p>
                        Hubungan wali / status terhadap laki-laki tersebut : {{ yang_mengajukan.hubungan }}
                    </p>
                {% endif %}
                <p>
                    Demikian surat keterangan  numpang nikah ini kami
                    buat dengan sebenarnya untuk menjadikan periksa dan guna seperlunya.
                </p>
            </div>
            <br>

            <table style="width: 100%">
                <tr>
                    <td width="50%">&nbsp;</td>
                    <td width="50%" style="text-align: center">
                        {{ model.desa }}, {{ model.hari_ini }}<br>
                        {% if model.ttd.is_kepala_desa != 1 %}
                            A.n. Kepala Desa {{ model.desa }}<br>
                        {% endif %}
                        {{ model.ttd.jabatan}} {{ model.desa }}
                        {% if ttd == 'null' %}
                        {% else %}
                            <div style="text-align: center; margin-right: 20px;height: 130px">
                                {% if model.is_ttd == 1 %}
                                    {% if model.ttd.ttd != null %}
                                        <img style="width: auto; height: 130px; "
                                             src="../file/ttd/{{ model.ttd.ttd }}">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div style="margin-top: -40px;">
                                <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </page>
    </div>
</div>

<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>