<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        /*width: 5%;*/
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 5px;

    }

    table .tr .td {
        padding-bottom: 5px;
    }

    .well {
        min-height: 20px;
        /*padding: 19px;*/
        /*margin-bottom: 20px;*/
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        /*padding: 9px;*/
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
        text-transform: capitalize;
    }

    table tr td u {
        vertical-align: top;
        text-transform: uppercase;
    }
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}"
                     style="width: 100%">
            </div>

            <h2><b><u>
                        <center>SURAT KETERANGAN USAHA KECIL PEMBELIAN BBM</center>
                    </u></b></h2>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Berdasarkan :</p>
                <table width="100%" style="padding-left: 50px; padding-right: 50px;">
                    <tr>
                        <td style="width: 5%;"><p>1.</p></td>
                        <td>Undang Undang Nomor 9 tentang Usaha kecil</td>
                    </tr>
                    <tr>
                        <td><p>2.</p></td>
                        <td>Peraturan Presiden Republik Indonesia Nomor 55 tentang Harga Jual Eceran Bahan Bakar Minyak
                            dalam Negeri
                        </td>
                    </tr>
                    <tr>
                        <td><p>3.</p></td>
                        <td>Peraturan Presiden Republik Indonesia Nomor 9 Tahun 2006 tentang Harga Jual Eceran Bahan
                            Bakar Minyak dalam Negeri
                        </td>
                    </tr>
                </table>
                <br>
                <p>Maka sesuai data dan hasil pemeriksaan, verifikasi dan analisa dari Pemerintah Desa dengan ini
                    menerangkan :</p>
                <table width="100%" style="padding-left: 50px; padding-right: 50px;">
                    <tr>
                        <td style="width: 5%;">1.</td>
                        <td style="width: 30%;"><p>Nama</p></td>
                        <td>:</td>
                        <td class="capitalize">{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>No. KTP</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>Tempat, Tgl. lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>NPWP</p></td>
                        <td>:</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>Bidang Usaha</p></td>
                        <td>:</td>
                        <td>{{ model.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.alamat }}</td>
                    </tr>

                </table>
                <table width="100%" style="padding-left: 50px; padding-right: 50px;">
                    <tr>
                        <td style="width: 5%;">2.</td>
                        <td style="width: 60%;"><p>Jumlah Pembelian BBM Premium</p></td>
                        <td>:</td>
                        <td>{{ model.bbm_premium }} Liter</td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">3.</td>
                        <td style="width: 60%;"><p>Jumlah Pembelian BBM Solar</p></td>
                        <td>:</td>
                        <td>{{ model.bbm_solar }} Liter</td>
                    </tr>
                </table>
                <table width="100%" style="padding-left: 50px; padding-right: 50px;">
                    <tr>
                        <td style="width: 4%;">4.</td>
                        <td style="width: 70%;"><p>Masa berlaku surat ijin ini sejak tanggal diterbitkan hingga tanggal
                                <b>{{ model.bbm_masa_berakhir | date('d F Y') }}</b></p></td>
                    </tr>
                </table>
                <br>
                <p style="margin-left: 50px;">Demikian surat keterangan ini dibuat untuk dipergunakan sebagaimana
                    mestinya.</p>
                <br>
                <table width="100%" style="height: 90px;">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 100%;text-transform: capitalize">
                            Mengetahui,<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                A.n. Kepala Desa {{ model.desa }}<br>
                            {% endif %}
                            {{ model.ttd.jabatan}} {{ model.desa }}<br>
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>

 <script>
     window.print();
     setTimeout(function () {
         window.close();
     }, 3000);
 </script>