<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="clearfix">
                    <h1 class="float-left display-3 mr-4" style="font-size: 95px;">500</h1>
                    <h4 class="pt-3" style="font-size: 24px;">Oops !</h4>
                    <p class="text-muted" style="font-size: 16px;">Mohon Maaf, Anda Tidak Memiliki Hak Akses Untuk Mengakses Menu Ini</p>
                </div>
                <div class="pull-right" style="text-align: right;">
                    <a class="btn btn-success" ui-sref="app.main">
                        <i class="glyphicon glyphicon-home"></i>
                        Kembali Ke Aplikasi
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
