<title>
    Laporan Harga Unit
</title>
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td{
        padding:5px;
        color:black;
        border: 1px solid #2f2f2f;
        border-width: thin;
        vertical-align: middle;
        font-size: 12px;
        font-family : Arial, Helvetica, sans-serif;
    }
    .text-capitalize {
        text-transform: capitalize!important;
    }
    .l_title{
        font-family : Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0px;
    }
    .ket_gd{
        margin: 0px;
        margin-top: 2px;
        font-size: 12px;
        font-family : Arial, Helvetica, sans-serif;
    }
    h4{
        font-size: 14px;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div>
                    <h4 class="l_title">Laporan Prospek Penjualan</h4>
                    <p class="ket_gd">{{ filter.perusahaan }}</p>
                    <p class="ket_gd">{{ filter.proyek }}</p>
                    <p class="ket_gd">{{ filter.periode }}</p>
                    </div>
                <br>
            </div>
        </div>

        <div style="page-break-after: always; page-break-inside: avoid">
            <table>
                <thead>
                    <tr align="center">
                        <th>Kode Unit</th>
                        <th>Keterangan</th>
                        <th>Jenis Pembayaran</th>
                        <th>Harga</th>
                        <th>Kode Pajak</th>
                        <th>Pajak</th>
                        <th>Total Harga</th>
                    </tr>
                </thead>
                <tbody>
                    {% for val in data %}
                    <tr align="center">
                        <td>{{ val.kode_unit }}</td>
                        <td>{{ val.keterangan }}</td>
                        <td>{{ val.nama_pembayaran }}</td>
                        <td align="right">{{ val.harga | number_format(0, ',', '.') }}</td>
                        <td>{{ val.kode_pajak }}</td>
                        <td align="right">{{ val.pajak | number_format(0, ',', '.') }}</td>
                        <td align="right">{{ val.jumlah | number_format(0, ',', '.') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>