<title>
    Laporan Jadwal Tagihan
</title>
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td{
        padding:5px;
        color:black;
        border: 1px solid #2f2f2f;
        border-width: thin;
        vertical-align: middle;
        font-size: 12px;
        font-family : Arial, Helvetica, sans-serif;
    }
    .text-capitalize {
        text-transform: capitalize!important;
    }
    .l_title{
        font-family : Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0px;
    }
    .ket_gd{
        margin: 0px;
        margin-top: 2px;
        font-size: 12px;
        font-family : Arial, Helvetica, sans-serif;
    }
    h4{
        font-size: 14px;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div>
                    <h4 class="l_title">Laporan Jadwal Tagihan</h4>
                    <p class="ket_gd">{{ filter.perusahaan }}</p>
                    <p class="ket_gd">{{ filter.proyek }}</p>
                    </div>
                <br>
            </div>
        </div>

        <div style="page-break-after: always; page-break-inside: avoid">
            <table>
                <thead>
                    <tr align="center">
                        <th style="background-color: #ececec">Nama Customer</th>
                        <th style="background-color: #ececec">No Prospek</th>
                        <th style="background-color: #ececec">No Booking</th>
                        <th style="background-color: #ececec">Kode Unit</th>
                        <th style="background-color: #ececec">Harga Jual</th>
                        <th style="background-color: #ececec">No</th>
                        <th style="background-color: #ececec">Tanggal Pembayaran</th>
                        <th style="background-color: #ececec">Keterangan</th>
                        <th style="background-color: #ececec">Nominal</th>
                        <th style="background-color: #ececec">Pajak</th>
                        <th style="background-color: #ececec">Total Nominal</th>
                        <th style="background-color: #ececec">Tipe</th>
                        <th style="background-color: #ececec">Status</th>
                        <th style="background-color: #ececec">Jenis</th>
                    </tr>
                </thead>
                {% for val in data %}
                <tbody>
                    <tr align="center">
                        <td rowspan="{{ val.tagihan | length + 1 }}">{{ val.nama_customer }}</td>
                        <td rowspan="{{ val.tagihan | length + 1 }}">{{ val.kode_prospek }}</td>
                        <td rowspan="{{ val.tagihan | length + 1 }}">{{ val.kode_booking }}</td>
                        <td rowspan="{{ val.tagihan | length + 1 }}">{{ val.kode_unit }}</td>
                        <td align="right" rowspan="{{ val.tagihan | length + 1 }}">{{ val.harga_jual_total | number_format(0, ',', '.') }}</td>
                    </tr>
                    {% for row in val.tagihan %}
                    <tr align="center">
                        <td>{{ row.no }}</td>
                        <td>{{ row.tanggal }}</td>
                        <td>{{ row.keterangan }}</td>
                        <td class="align-right">{{ row.nominal | number_format(0, ',', '.') }}</td>
                        <td class="align-right">{{ row.pajak | number_format(0, ',', '.') }}</td>
                        <td class="align-right">{{ row.jumlah | number_format(0, ',', '.') }}</td>
                        <td class="text-capitalize">{{ row.tipe }}</td>
                        <td>{{ row.status }}</td>
                        <td>{{ row.jenis }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>