<style type="text/css">
    th, td{
    padding:5px;
    color:black;
    border: 1px solid #2f2f2f;
    border-width: thin;
    vertical-align: middle;
    font-size: 12px;
    font-family : Arial, Helvetica, sans-serif;
    }
    .align-left{
    text-align: left;
    }
    .align-center{
    text-align: center;
    }
    .align-right{
    text-align: right;
    }
    .l_title{
    font-family : Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    }
    .ket_gd{
    margin: 0px;
    margin-top: 2px;
    font-size: 12px;
    font-family : Arial, Helvetica, sans-serif;
    text-align: center;
    }
    h4{
        font-size: 14px;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <center>
                    <div>
                        <h4 class="l_title">
                            Laporan Jobdesk Karyawan
                        </h4>
                        <p class="ket_gd">
                            Sub Bagian : {{nama_sub_bagian}}
                        </p>
                        <p class="ket_gd">
                            Karyawan : {{ nama_karyawan }}
                        </p>
                        <p class="ket_gd">
                            Dicetak Oleh : {{ user.nama }}
                        </p>
                        <p class="ket_gd">
                            Dicetak Pada : {{ "now"|date("d/m/Y") }}
                        </p>
                    </div>
                <br>
                </center>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table border="1" style="border-collapse: collapse; width: 100%">
        <thead>
            <tr>
                <th align="left" width="200">
                    Nama Karyawan
                </th>
                <th width="100">
                    Jabatan
                </th>
                <th width="100">
                    Sub Bagian
                </th>
                <th align="left" width="200">
                    Jobdesk
                </th>
            </tr>
        </thead>
        <tbody>
            {%for key, val in data.model%}
            <tr>
                <td align="left" rowspan="{{val.rowspan}}">
                    {{val.nama}}
                </td>
                <td align="center" rowspan="{{val.rowspan }}">
                    {{val.nama_jabatan}}
                </td>
                <td align="center" rowspan="{{val.rowspan }}">
                    {{val.sub_bagian}}
                </td>
                {%for k, v in val.pekerjaan%}
                    {% if k == 0 %}
                <td class="align-left">
                    {{v.keterangan}}
                </td>
                {% endif %}
                    {%endfor%}
            </tr>
            {%for k, v in val.pekerjaan%}
                {% if k > 0 %}
            <tr>
                <td class="align-left">
                    {{v.keterangan}}
                </td>
            </tr>
            {% endif %}

            {%endfor%}

        {%endfor%}
        </tbody>
    </table>
</div>
