<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <span class="btn btn-danger pull-right" ng-click="close()"> <i class="fa fa-times"></span>
            </div>
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
            </div>
            {# {{ model.isi | raw }} #}
            <p class="nama-surat">SURAT KETERANGAN</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p class="line15">Yang bertanda tangan di bawah ini Kepala Desa <span style="text-transform: capitalize">{{ model.desa | capitalize}} Kecamatan {{ model.kecamatan | capitalize}} {{model.kabupaten}}</span>,
                    menerangkan dengan sebenarnya bahwa :</p><br/>
                <table style="width: 100%">
                    <tr>
                        <td width="30%"><p>1. Nama</p></td>
                        <td>:</td>
                        <td class="capitalize">{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>2. Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>3. Tempat, Tgl. Lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>4. Kewarganegaraan</p></td>
                        <td>:</td>
                        <td>WNI</td>
                    </tr>
                    <tr>
                        <td><p>5. Agama</p></td>
                        <td>:</td>
                        <td>{{ model.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>6. Status Perkawinan</p></td>
                        <td>:</td>
                        <td>{{ model.status }}</td>
                    </tr>
                    <tr>
                        <td><p>7. Pendidikan</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.pendidikan_akhir }}</td>
                    </tr>
                    <tr>
                        <td><p>8. Nomor KTP/NIK</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>9. Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>10. Alamat</p></td>
                        <td>:</td>
                        <td class="non-capitalize"><p class="line15">{{ model.alamat }}</p></td>
                    </tr>
                    <tr>
                        <td valign="top"><p>11. Keterangan</p></td>
                        <td valign="top">:</td>
                        <td>
                            <p class="line15">{{ model.keterangan|striptags }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 25px">Surat keterangan ini</td>
                    </tr>
                    <tr>
                        <td valign="top"><p style="padding-left: 35px"> dipergunakan untuk</p></td>
                        <td valign="top">:</td>
                        <td>{{ model.keterangan_untuk }}</td>
                    </tr>
                </table>
                <br/>
                <p class="line15">Demikian Surat Keterangan ini dibuat dengan sebenarnya agar dapat digunakan sebagaimana
                    mestinya.</p>
            </div>
            <br>

            <table style="width: 100%" class="ttd">
                <tr>
                    <td width="50%">&nbsp;</td>
                    <td width="50%" style="text-align: center">
                        {{ model.desa }}, {{ model.hari_ini }}<br>
                        {% if model.ttd.is_kepala_desa != 1 %}
                            A.n. Kepala Desa {{ model.desa }}<br>
                        {% endif %}
                        {{ model.ttd.jabatan}} {{ model.desa }}
                        {% if ttd == 'null' %}
                        {% else %}
                            <div style="text-align: center; margin-right: 20px;height: 130px">
                                {% if model.is_ttd == 1 %}
                                    {% if model.ttd.ttd != null %}
                                        <img style="width: auto; height: 130px; "
                                             src="../file/ttd/{{ model.ttd.ttd }}">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div style="margin-top: -40px;">
                                <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </page>
    </div>
</div>

<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
