<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}"
                     style="width: 100%">
            </div>


            <p class="nama-surat">SURAT KETERANGAN</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <div style="padding-left: 50px;padding-right: 20px">
                <br/>
                <p>Yang bertanda tangan di bawah ini Kepala Desa {{ model.desa | capitalize }}
                    Kecamatan {{ model.kecamatan }}
                    Kabupaten
                    Ponorogo, menerangkan dengan sebenarnya bahwa :</p><br/>
                <table width="100%">
                    <tr>
                        <td width="40%"><p>1. Nama</p></td>
                        <td>:</td>
                        <td>{{ model.gakin_wali.nama | upper }}</td>
                    </tr>
                    <tr>
                        <td><p>2. Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.gakin_wali.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>3. Tempat, Tgl. Lahir</p></td>
                        <td>:</td>
                        <td>{{ model.gakin_wali.tempat_lahir }}, {{ model.gakin_wali.tgl_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>4. Kewarganegaraan</p></td>
                        <td>:</td>
                        <td>{{ model.gakin_wali.kewarganegaraan != undefined ? model.gakin_wali.kewarganegaraan : 'WNI' }}</td>
                    </tr>
                    <tr>
                        <td><p>5. Agama</p></td>
                        <td>:</td>
                        <td>{{ model.gakin_wali.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>6. Status Perkawinan</p></td>
                        <td>:</td>
                        <td>{{ model.gakin_wali.status }}</td>
                    </tr>
                    <tr>
                        <td><p>7. Nomor KTP/NIK</p></td>
                        <td>:</td>
                        <td>{{ model.gakin_wali.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>8. Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.gakin_wali.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>9. Alamat</p></td>
                        <td>:</td>
                        <td>{{ model.gakin_wali.alamat }}
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:text-top;"><p> 10. Keterangan</p></td>
                        <td style="vertical-align:text-top;">:</td>
                        <td style="text-align: justify">
                            {{ model.keterangan | striptags }}
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:text-top;"><p> 11. Data Anak</p></td>
                        <td style="vertical-align:text-top;"></td>
                        <td style="text-align: justify">
                        </td>
                    </tr>
                </table>
                <table style="margin-left: 25px;" width="100%">
                    <tr >
                        <td width="36.6%"><p class="non-capitalize">a. Nama</p></td>
                        <td width="1px">:</td>
                        <td>{{ model.nama | upper }}</td>
                    </tr>
                    <tr>
                        <td><p class="non-capitalize">b. Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p class="non-capitalize">c. Tempat, Tgl. lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p class="non-capitalize">d. Sekolah di</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.gakin_sekolah }}</td>
                    </tr>
                    <tr>
                        <td><p>Surat keterangan ini</p></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr >
                        <td ><p class="alenia">Dipergunakan untuk</p></td>
                        <td>:</td>
                        <td style="padding-right: 20px;">{{ model.gakin_untuk|striptags }}</td>
                    </tr>
                </table>
                <br/>
                <p>Demikian Surat Keterangan ini dibuat dengan sebenarnya agar
                    dapat digunakan sebagaimana mestinya.</p>
                <br>

                <table width="100%" class="ttd">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 50%">
                            {{ model.desa }}, {{ model.hari_ini }}<br>

                            {% if model.ttd.is_kepala_desa != 1 %}
                                A.n. Kepala Desa {{ model.desa }}<br>
                            {% endif %}

                            {{ model.ttd.jabatan }} {{ model.desa }}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <br>
        </page>
    </div>
</div>
<div class="pagebreak"></div>


<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>