<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
            </div>

            <p class="nama-surat">SURAT KETERANGAN WALI</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>

            <div style="padding-left: 50px;padding-right: 20px">
                <p class="line15">Yang bertanda tangan di bawah ini, Kepala Desa {{ model.desa | capitalize }}
                    Kecamatan {{ model.kecamatan }} {{model.kabupaten}} Jawa Timur Menerangkan dengan sebenarnya bahwa
                    :</p><br/>
                <table width="100%">
                    <tr>
                        <td style="width: 150px;"><p>Nama</p></td>
                        <td style="width: 5px">:</td>
                        <td class="capitalize">{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>Tempat, Tgl. lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ model.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.alamat }}</td>
                    </tr>
                </table>
                <br>

                <p><b>Yang berhak menjadi wali anak tersebut adalah :</b></p><br/>
                <table>
                    <tr>
                        <td style="width: 150px;"><p>Nama</p></td>
                        <td style="width: 5px">:</td>
                        <td>{{ model.wali_anak.nama != undefined ?  model.wali_anak.nama : model.wali_nama }}</td>
                    </tr>
                    <tr>
                        <td><p>Tempat, Tgl. lahir</p></td>
                        <td>:</td>
                        <td>{{ model.wali_tempat_lahir }}, {{ model.wali_tgl_lahir | date('d F Y')}}</td>
                    </tr>
                    <tr>
                        <td><p>NIK</p></td>
                        <td>:</td>
                        <td>{{ model.wali_nik }}</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ model.wali_agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.wali_pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ model.wali_alamat }}</td>
                    </tr>
                </table>
                <br>

                <p><b>Adapun hubungannya adalah : {{ model.wali_hubungan_keluarga }}</b></p><br/>

                <table>
                    <tr>
                        <td style="width: 150px; vertical-align: text-top;"><p>Sebab-sebab</p></td>
                        <td style="vertical-align: text-top;width: 5px">:</td>
                        <td>{{ model.keterangan|striptags }}</td>
                    </tr>
                    <tr>
                        <td style="width: 150px; vertical-align: text-top;"><p>Digunakan untuk</p></td>
                        <td style="vertical-align: text-top;width: 5px">:</td>
                        <td>{{ model.wali_digunakan_untuk|striptags }}</td>
                    </tr>
                </table>
                <br/>
                <p class="line15">Demikian surat keterangan ini kami buat dengan sebenarnya agar
                    dapat dipergunkan sebagaimana mestinya.</p>
                <br>

                <table width="100%" class="ttd">
                    <tr>
                        <td width="50%"></td>
                        <td align="center" style="width: 50%">
                            {{ model.desa }}, {{ model.hari_ini }}<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                A.n. Kepala Desa {{ model.desa }}<br>
                            {% endif %}
                            {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <br>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>