<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <span class="btn btn-danger pull-right" ng-click="close()"> <i class="fa fa-times"></span>
            </div>
            <div>
                {% if model.kop.kop_surat != null %}
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
                {% endif %}
            </div>
            <div>
                {{ model.isi | raw }}
            </div>
            <p class="nama-surat">SURAT KETERANGAN USAHA</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Yang bertanda tangan di bawah ini :</p><br/>

                <table style="height: 90px;">
                    <tr>
                        <td style="width: 150px"><p>Nama</p></td>
                        <td>:</td>
                        <td class="capitalize">{{ model.ttd.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>Jabatan</p></td>
                        <td>:</td>
                        <td>{{ model.ttd.jabatan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ model.ttd.alamat_yang_menandatangan }}</td>
                    </tr>
                </table>
                <br/>

                <p>Dengan ini menerangkan dengan sebenar-benarnya bahwa :</p>
                <br/>
                <table style="height: 120px;">
                    <tr>
                        <td style="width: 150px"><p>Nama</p></td>
                        <td>:</td>
                        <td class="capitalize">{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>Tempat, Tgl. lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>NIK</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ model.alamat_lengkap }}
                        </td>
                    </tr>
                </table>
                <br/>
                <p style="line-height: 1.5; ">Adalah benar-benar penduduk di Desa <span style="text-transform: capitalize">{{ model.desa}}</span>
                    Kecamatan {{ model.kecamatan }} {{model.kabupaten}} yang memiliki usaha dibidang
                    <b>{{ model.keterangan | striptags }}</b></p>

                <p style="line-height: 1.5; ">Adapun usaha tersebut berada di {{ model.lokasi_usaha }} Desa <span style="text-transform: capitalize">{{ model.desa}}</span> Kecamatan {{ model.kecamatan }}
                    {{model.kabupaten}} dan sudah berjalan sejak {{ model.periode_awal_usaha }} sampai {{ model.periode_selesai_usaha }} masih berjalan dengan lancar.</p>
                <br/>
                <p style="line-height: 1.5">Demikian Surat Keterangan ini dibuat dengan sebenarnya agar dapat
                    digunakan sebagaimana mestinya.</p>
                <br>

                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 50%;text-transform: capitalize">
                            {{ model.desa }}, {{ model.hari_ini }}<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                A.n. Kepala Desa {{ model.desa }}<br>
                            {% endif %}
                            {{ model.ttd.jabatan | lower }} {{ model.desa }}<br>
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <br>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>