<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
{#            <div>#}
{#                <img src="../file/kop_surat/{{ model.kop.kop_surat }}"#}
{#                     style="width: 100%">#}
{#            </div>#}

            <p class="nama-surat">SURAT KETERANGAN IJIN ORANG TUA / SUAMI / ISTRI</p>
{#            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>#}
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Yang bertanda tangan dibawah ini :</p>
                <table width="100%" style="padding-left: 50px; padding-right: 50px;">
                    <tr>
                        <td style="width: 30%;"><p>Nama</p></td>
                        <td>:</td>
                        <td>{{ model.nama | upper}}</td>
                    </tr>
                    <tr>
                        <td><p>Tempat, Tgl.lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Nik</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.alamat }}</td>
                    </tr>
                </table>
                <br>
                <p>Dengan ini memberi ijin kepada istri (Dinamis) saya :</p>
                <table width="100%" style="padding-left: 50px; padding-right: 50px;">
                    <tr>
                        <td style="width: 30%;"><p>Nama</p></td>
                        <td>:</td>
                        <td>{{ model.yang_diberi_izin.nama | upper}}</td>
                    </tr>
                    <tr>
                        <td><p>Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.yang_diberi_izin.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>Tempat, Tgl.lahir</p></td>
                        <td>:</td>
                        <td>{{ model.yang_diberi_izin.tempat_lahir }}, {{ model.yang_diberi_izin.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ model.yang_diberi_izin.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.yang_diberi_izin.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ model.yang_diberi_izin.alamat }}</td>
                    </tr>
                    <tr>
                        <td><p>Yang Akan Bepergian Ke</p></td>
                        <td>:</td>
                        <td>{{ model.pergi_ke }}</td>
                    </tr>
                </table>
                <br>
                <p style="margin-left: 50px;"> Demikian surat keterangan ijin ini dibuat dengan sebenarnya untuk
                    menjadikan</p>
                <p>
                    periksa dan guna
                    seperlunya.
                </p>
                <br>

                <table width="100%" style="height: 90px;">
                    <tr>
                        <td align="center" style="width: 35%">
                            <br><br/>YANG DIBERI IZIN<br><br><br><br><br><br>
                            {{ model.yang_diberi_izin.nama }}
                        </td>
                        <td align="center" style="width: 30%; vertical-align: bottom;">

                        </td>
                        <td align="center" style="width: 35%">
                            <br/>
                            {{ model.desa }}, {{ model.hari_ini }}<br>
                            YANG MEMBERI IZIN
                            <br><br><br><br><br><br>
                            {{ model.nama }}
                        </td>
                    </tr>
                </table>
                <table width="100%" style="height: 90px;">
                    <tr>
                        <td align="center" style="width: 100%;text-transform: capitalize">
                            Mengetahui,
                            <br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                A.n. Kepala Desa {{ model.desa }}<br>
                            {% endif %}
                            {{ model.ttd.jabatan}} {{ model.desa }}<br>
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    {{ model.ttd.nama }}{{ model.ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>

 <script>
     window.print();
     setTimeout(function () {
         window.close();
     }, 3000);
 </script>