<div class="modal-header bg-primary">
    <h5 class="modal-title">Filter Tagihan</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="landaform" novalidate="">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label-sm">
                        Periode
                    </label>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <div class="form-check form-check-inline mr-1">
                                        <input class="form-check-input" type="checkbox" id="gunakan"
                                               value="true" ng-model="form.allPeriode"/>
                                        <label class="form-check-label" for="gunakan">All Periode</label>
                                    </div>
                                </span>
                            </div>
                            <input ng-disabled="form.allPeriode"
                                   class="form-control form-control-sm" date-range-picker="" options="dateRangeOptions" 
                                   ng-model="form.tanggal" placeholder="Periode" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label-sm">
                        Module
                    </label>
                    <div class="col-sm-8">
                        <div class="btn-group btn-group-sm w-100">
                            <ui-select class="ui-select-sm ui-select-container w-100" ng-model="form.tipe" theme="bootstrap" ng-disabled="is_view">
                                <ui-select-match placeholder="Pilih Module">
                                    <span class="capitalize">{{ $select.selected}}</span>
                                </ui-select-match>
                                <ui-select-choices position="down" repeat="val in listModule | filter : $select.search">
                                    <span class="capitalize">{{ val}}</span>
                                </ui-select-choices>
                            </ui-select>
                            <button class="btn btn-sm btn-danger fa fa-trash" ng-click="form.tipe = undefined"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-secondary btn-sm" ng-click="close()">
            <i class="fa fa-recycle"></i>
            &nbsp;Reset
        </button>
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="save()">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
        </button>
    </div>
</div>