<div class="modal-header bg-primary">
    <h5 class="modal-title">Filter Unit</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="landaform" novalidate="">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label-sm">
                        Customer
                    </label>
                    <div class="col-sm-8">
                        <div class="btn-group btn-group-sm w-100">
                            <ui-select class="ui-select-sm ui-select-container w-100" ng-model="form.customer" theme="bootstrap" ng-disabled="is_view">
                                <ui-select-match placeholder="Pilih Customer">
                                    {{ $select.selected.nama}}
                                </ui-select-match>
                                <ui-select-choices position="down" repeat="val in listCustomer" refresh="searchCustomer($select.search)">
                                    {{ val.nama}}
                                </ui-select-choices>
                            </ui-select>
                            <button class="btn btn-sm btn-danger fa fa-trash" ng-click="form.customer = undefined"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label-sm">
                        Dibuat Oleh
                    </label>
                    <div class="col-sm-8">
                        <div class="btn-group btn-group-sm w-100">
                            <ui-select class="ui-select-sm ui-select-container w-100" ng-model="form.created_by" theme="bootstrap" ng-disabled="is_view">
                                <ui-select-match placeholder="Pilih Dibuat Oleh">
                                    {{ $select.selected.nama}}
                                </ui-select-match>
                                <ui-select-choices position="down" repeat="val in listUser | filter : $select.search">
                                    {{ val.nama}}
                                </ui-select-choices>
                            </ui-select>
                            <button class="btn btn-sm btn-danger fa fa-trash" ng-click="form.created_by = undefined"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-secondary btn-sm" ng-click="close()">
            <i class="fa fa-recycle"></i>
            &nbsp;Reset
        </button>
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="save()">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
        </button>
    </div>
</div>