<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        width: 5%;
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        padding: 9px;
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
    }

    .table-custom-twig {
        border: 1px solid black;
        max-width: 1px;
        text-align: center;
        padding: 0px;
        font-size: 10px;
    }

    .table-custom-twig-left {
        border: 1px solid black;
        max-width: 1px;
        text-align: left;
        padding: 1px;
        font-size: 10px;
    }

    table tr td {
        font-size: 11px;
        padding: 0px;
        margin: 0px;
    }

    h4 {
        font-size: 12px;
    }

    h2 {
        font-size: 19px;
    }
</style>
<page size="F4" style="padding-left: 20px;padding-right: 20px;padding-top: 20px">
    <div>
        <table width="100%" style="padding-right: 2px">
            <tr>
                <td width="90%"></td>
                <td width="10%" style="border: 1px solid #808080;text-align: center;padding: 3px 0px">
                    {% if ( model.jenis  == 'kecamatan' ) %}
                        <b>F.1 - 25</b>
                    {% endif %}
                    {% if ( model.jenis  == 'kabupaten' ) %}
                        <b>F.1 - 29</b>
                    {% endif %}
                    {% if ( model.jenis  == 'provinsi' ) %}
                        <b>F.1 - 34</b>
                    {% endif %}

                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td width="30%">
                    PROVINSI
                </td>
                <td width="5%">
                    :
                </td>
                <td width="30%">
                    <table style="border-collapse: collapse">
                        <tr>
                            {% for v in model.no_prop %}
                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                    {{ v }}

                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
                <td width="5%">
                    *)
                </td>
                <td width="30%">
                    <table width="100%">
                        <tr>
                            <td style="border: 1px solid; padding-left: 10px; text-transform: uppercase;">
                                {{ model.provinsi }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                    KABUPATEN
                </td>
                <td width="5%">
                    :
                </td>
                <td width="30%">
                    <table style="border-collapse: collapse">
                        <tr>
                            {% for v in model.no_kab %}
                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                    {{ v }}

                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
                <td width="5%">
                    *)
                </td>
                <td width="30%">
                    <table width="100%">
                        <tr>
                            <td style="border: 1px solid; padding-left: 10px; text-transform: uppercase;">
                                {{ model.kabupaten }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                    KECAMATAN
                </td>
                <td width="5%">
                    :
                </td>
                <td width="30%">
                    <table style="border-collapse: collapse">
                        <tr>
                            {% for v in model.no_kec %}
                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                    {{ v }}

                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
                <td width="5%">
                    *)
                </td>
                <td width="30%">
                    <table width="100%">
                        <tr>
                            <td style="border: 1px solid; padding-left: 10px; text-transform: uppercase;">
                                {{ model.kecamatan }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                    DESA/KELURAHAN
                </td>
                <td width="5%">
                    :
                </td>
                <td width="30%">
                    <table style="border-collapse: collapse">
                        <tr>
                            {% for v in model.no_kel %}
                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                    {{ v }}

                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
                <td width="5%">
                    *)
                </td>
                <td width="30%">
                    <table width="100%">
                        <tr>
                            <td style="border: 1px solid; padding-left: 10px; text-transform: uppercase;">
                                {{ model.desa }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                    DUSUN/DUKUH/KAMPUNG
                </td>
                <td width="5%">
                    :
                </td>
                <td width="30%" colspan="3">
                    <table width="100%">
                        <tr>
                            <td style="border: 1px solid; padding-left: 10px; text-transform: uppercase;">
                                {{ model.dusun }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    {% if ( model.jenis  == 'kecamatan' ) %}
        <div>
            <h2 style="text-align: center; padding-top: 10px; margin: 0px;">
                FORMULIR PERMOHONAN PINDAH DATANG WNI
            </h2>
            <h3 style="text-align: center; padding-top: 2px; margin: 0px;">
                Antar Desa / Kelurahan Dalam Satu Kecamatan
            </h3>
            <p style=" text-align: center; padding-top: 2px;margin: 0px;">
                <b>No.{{ model.no_surat }}</b>
            </p>
        </div>
    {% endif %}
    {% if ( model.jenis  == 'kabupaten' ) %}
        <div>
            <h2 style="text-align: center; padding-top: 10px; margin: 0px;">
                FORMULIR PERMOHONAN PINDAH DATANG WNI
            </h2>
            <h3 style="text-align: center; padding-top: 2px; margin: 0px;">
                Antar Kecamatan Dalam Satu Kabupaten/Kota
            </h3>
            <p style=" text-align: center; padding-top: 2px;margin: 0px;">
                <b>No.{{ model.no_surat }}</b>
            </p>
        </div>
    {% endif %}
    {% if ( model.jenis  == 'provinsi' ) %}
        <div>
            <h2 style="text-align: center; padding-top: 10px; margin: 0px;">
                FORMULIR PERMOHONAN PINDAH DATANG WNI
            </h2>
            <h3 style="text-align: center; padding-top: 2px; margin: 0px;">
                Antar Kabupaten /Kota atau Antar Provinsi
            </h3>
            <p style=" text-align: center; padding-top: 2px;margin: 0px;">
                <b>No.{{ model.no_surat }}</b>
            </p>
        </div>
    {% endif %}

    <div>
        <h4 style="margin-bottom: 5px;">DATA DAERAH ASAL</h4>
        <table width="100%">
            <tr>
                <td width="20%">
                    1. Nomer Kartu Keluarga
                </td>
                <td width="80%">
                    <table style="border-collapse: collapse" width="100%">
                        <tr>
                            {% for v in model.no_kk %}
                                <td style="border: 1px solid black; width: 1px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;text-align: center">
                                    {{ v }}

                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                    2. Nama Kepala Keluarga
                </td>
                <td width="70%">
                    <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <td style="border: 1px solid black;  padding: 4px;">
                                {{ model.nama_tujuan }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                    3. Alamat
                </td>
                <td width="70%">
                    <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <td style="border: 1px solid black;  padding: 4px;">
                                {{ model.alamat_asal }}
                            </td>
                            <td style="border: 1px;padding-left: 10px; padding-right: 10px; width:1%;">
                                RT
                            </td>
                            {% for v in model.no_rt %}
                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                    {{ v }}

                                </td>
                            {% endfor %}
                            <td style="border: 1px;padding-left: 10px; padding-right: 10px; width:1%;">
                                RW
                            </td>
                            {% for v in model.no_rw %}
                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                    {{ v }}
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                </td>
                <td width="70%">
                    <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <td width="20%" style="margin-right: 10px; padding-right: 20px;">
                                Dusun/Dukuh/Kampung
                            </td>
                            <td style="border: 1px solid black;  padding: 4px; text-transform: uppercase;">
                                {{ model.nama_dusun }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="20%" style="padding-left: 30px;">
                    a. Desa/Kelurahan
                </td>
                <td width="80%">
                    <table style="border-collapse: collapse" width="100%">
                        <tr>
                            <td width="31%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td style="border: 1px solid black; width: 1px; padding: 4px; text-transform: uppercase;">
                                            {{ model.nama_desa }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="22%">
                                <table width="100%">
                                    <tr>
                                        <td style="padding-left: 10px; padding-right: 10px;">
                                            c. Kab/Kota
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="45%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td style="border: 1px solid black; width: 1px; padding: 4px; text-transform: uppercase;">
                                            {{ model.nama_kabupaten }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="20%" style="padding-left: 30px">
                    b. Kecamatan
                </td>
                <td width="80%">
                    <table style="border-collapse: collapse" width="100%">
                        <tr>
                            <td width="31%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td style="border: 1px solid black; width: 1px; padding: 4px; text-transform: uppercase;">
                                            {{ model.nama_kecamatan }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="22%">
                                <table width="100%">
                                    <tr>
                                        <td style="padding-left: 10px; padding-right: 10px;">
                                            d. Provinsi
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="45%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td style="border: 1px solid black; width: 1px; padding: 4px; text-transform: uppercase;">
                                            {{ model.nama_provinsi }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="20%" style="padding-left: 30px">
                    Kode Pos
                </td>
                <td width="80%">
                    <table style="border-collapse: collapse" width="100%">
                        <tr>
                            <td width="31%">
                                <table style="border-collapse: collapse;text-align: center" width="100%">
                                    <tr>
                                        {% for v in model.kode_pos_asal %}
                                            <td style="border: 1px solid black; width: 1px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                            <td width="22%">
                                <table width="100%">
                                    <tr>
                                        <td style="padding-left: 10px; padding-right: 10px;">
                                            Telepon
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="45%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in model.no_hp_asal %}
                                            <td style="border: 1px solid black; width: 1px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                    4. NIK Pemohon
                </td>
                <td width="70%">
                    <table style="border-collapse: collapse; width: 100%;text-align: center">
                        <tr>
                            {% for v in model.nik %}
                                <td style="border: 1px solid black; width: 1px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                    {{ v }}
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                    5. Nama Lengkap
                </td>
                <td width="70%">
                    <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <td style="border: 1px solid black;  padding: 4px;">
                                {{ model.nama }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <h4 style="margin-bottom: 5px;">DATA DAERAH TUJUAN</h4>
        <table width="100%">
            <tr>
                <td width="20%">
                    1. Status Nomor KK
                    Bagi Yang Pindah
                </td>
                <td width="80%">
                    <table style="border-collapse: collapse" width="100%">
                        <tr>
                            <td width="10%">
                                <table style="border-collapse: collapse; width: 15%;">
                                    <tr>
                                        <td style="border: 1px solid black;  padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                            {{ model.alasan }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            1. Numpang KK
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            2. Membuat KK Baru
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            3. No. KK Tetap
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="17%">
                                <table>
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="20%">
                    2. Nomor Kartu Keluarga
                </td>
                <td width="80%">
                    <table style="border-collapse: collapse" width="100%">
                        <tr>
                            {% for v in model.no_kk_tujuan %}
                                <td style="border: 1px solid black; width: 1px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;text-align: center">
                                    {{ v }}

                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="20%">
                    3. NIK Kepala Keluarga
                </td>
                <td width="80%">
                    <table style="border-collapse: collapse" width="100%">
                        <tr>
                            {% for v in model.nik_tujuan %}
                                <td style="border: 1px solid black; width: 1px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;text-align: center">
                                    {{ v }}

                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="20%">
                    4. Nama Kepala Keluarga
                </td>
                <td width="80%">
                    <table style="border-collapse: collapse" width="100%">
                        <tr>
                            <td style="border: 1px solid black; width: 1px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                {{ model.nama_tujuan }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="25%">
                    5. Tanggal Kedatangan
                </td>
                <td width="70%">
                    <table style="border-collapse: collapse" width="60%">
                        <tr>
                            {% for v in model.tanggal_hari %}
                                <td class="table-custom-twig"
                                    style="padding-left: 5px; padding-right: 5px;">
                                    {{ v }}
                                </td>
                            {% endfor %}

                            <td style="padding-left: 15px;" width="13%;">
                            </td>
                            {% for v in model.tanggal_bulan %}
                                <td class="table-custom-twig"
                                    style="padding-left: 5px; padding-right: 5px;">
                                    {{ v }}
                                </td>
                            {% endfor %}

                            <td style="padding-left: 15px;" width="15%;">
                            </td>
                            {% for v in model.tanggal_tahun %}
                                <td class="table-custom-twig"
                                    style="padding-left: 5px; padding-right: 5px;">
                                    {{ v }}
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                    6. Alamat
                </td>
                <td width="70%">
                    <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <td style="border: 1px solid black;  padding: 4px;">
                                {{ pindah.alamat_pindah }}
                            </td>
                            <td style="border: 1px;padding-left: 10px; padding-right: 10px; width:1%;">
                                RT
                            </td>
                            {% for v in pindah.no_rt %}
                                <td style="border: 1px solid black; width: 1px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                    {{ v }}

                                </td>
                            {% endfor %}
                            <td style="border: 1px;padding-left: 10px; padding-right: 10px; width:1%;">
                                RW
                            </td>
                            {% for v in pindah.no_rw %}
                                <td style="border: 1px solid black; width: 1px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                    {{ v }}
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30%">
                </td>
                <td width="70%">
                    <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <td width="20%" style="margin-right: 10px; padding-right: 20px;">
                                Dusun/Dukuh/Kampung
                            </td>
                            <td style="border: 1px solid black;  padding: 4px; text-transform: uppercase;">
                                {{ pindah.dusun_tujuan }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="20%" style="padding-left: 30px;">
                    a. Desa/Kelurahan
                </td>
                <td width="80%">
                    <table style="border-collapse: collapse" width="100%">
                        <tr>
                            <td width="31%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td style="border: 1px solid black; width: 1px; padding: 4px; text-transform: uppercase;">
                                            {{ pindah.desa }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="22%">
                                <table width="100%">
                                    <tr>
                                        <td style="padding-left: 10px; padding-right: 10px;">
                                            c. Kab/Kota
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="45%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td style="border: 1px solid black; width: 1px; padding: 4px; text-transform: uppercase;">
                                            {{ pindah.kabupaten }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="20%" style="padding-left: 30px">
                    b. Kecamatan
                </td>
                <td width="80%">
                    <table style="border-collapse: collapse" width="100%">
                        <tr>
                            <td width="31%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td style="border: 1px solid black; width: 1px; padding: 4px; text-transform: uppercase;">
                                            {{ pindah.kecamatan }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="22%">
                                <table width="100%">
                                    <tr>
                                        <td style="padding-left: 10px; padding-right: 10px;">
                                            d. Provinsi
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="45%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td style="border: 1px solid black; width: 1px; padding: 4px; text-transform: uppercase;">
                                            {{ pindah.provinsi }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="20%">
                    7. Keluarga Yang Datang
                </td>
                <td width="80%">
                </td>
            </tr>
            <tr>
                <table style="border-collapse: collapse; font-size: 10px;" width="100%" border="1px">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th width="30%">NIK</th>
                        <th width="40%">NAMA</th>
                        <th width="10%">MASA BERLAKU KTP</th>
                        <th>SHDK</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, val in detail %}
                        <tr>
                            <td width="5%" align="center">
                                {{ key+1 }}
                            </td>
                            <td width="30%">
                                <table style="border-collapse: collapse; width: 100%;">
                                    <tr>
                                        {% for v in val.nik %}
                                            <td style="border-right: 1px solid #808080; text-align: center; vertical-align: middle;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>

                            <td width="40%">
                                {{ val.nama }}
                            </td>
                            <td width="10%">
                                {{ val.aktif_ktp }}
                            </td>
                            <td width="25%">
                                {{ val.shdk }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </tr>
        </table>
    </div>
<br><br><br>
    <table width="100%" style="height: 90px;">
        <tr>
            <td align="center" style="width: 35%" class="ttd">
                <br/>Petugas registrasi<br><br><br><br><br><br><br><br>
                {{ model.petugas_registrasi | upper }}
            </td>
            <td align="center" style="width: 30%;text-transform: capitalize" class="ttd">
                <br>
                {% if model.ttd.is_kepala_desa != 1 %}
                    A.n. Kepala Desa {{ model.desa }}<br>
                {% endif %}
                {{ model.ttd.jabatan}} {{ model.desa }}<br>
                {% if ttd == 'null' %}
                {% else %}
                    <div style="text-align: center; margin-right: 20px;height: 130px">
                        {% if model.is_ttd == 1 %}
                            {% if model.ttd.ttd != null %}
                                <img style="width: auto; height: 130px; "
                                     src="../file/ttd/{{ model.ttd.ttd }}">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div style="margin-top: -40px;">
                        {{ model.ttd.nama | upper}}{{ model.ttd.gelar | upper}}
                    </div>
                {% endif %}
            </td>
            <td align="center" style="width: 35%" class="ttd">
                {{ model.desa }}, {{ model.hari_ini }}
                <br/>Pemohon<br><br><br><br><br><br><br><br>
                {{ model.nama | upper}}
            </td>
        </tr>
    </table>
</page>
 <script>
 // window.print();
 // setTimeout(function () {
 // window.close();
 // }, 3000);
 </script>