<div class="modal-header bg-promis" style="height: 120px;">
    <h3 class="modal-title" style="font-size: 16px;">
        <span >
            <b>Desa {{user.desa_active.desa}}, Kecamatan {{user.desa_active.kecamatan}}.</b>
        </span>
    </h3>
    <button aria-label="Close" class="close" ng-click="close()" type="button">
        <span aria-hidden="true">
            ×
        </span>
    </button>
</div>
<div class="modal-body" style="margin-top: -70px;">
    <div class="row" >
        <div class="col-sm-4 mb-2 bg-portal" ng-click="setDesa(val)" ng-repeat="val in user.roles_desa_array">
            <div class="card-portal">

                <div class="row">
                    <div class="col-md-3" style="padding-right:0;">
                        <div class="icon-portal">
                            <center>
                                <i class="far fa-building font-portal">
                                </i>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-9" style="padding-top: 10px">
                        <h5>
                            <b>
                                Desa {{val.desa}}
                            </b>
                        </h5>
                        <h6 class="mb-1">
<!--                            <i class="fa fa-phone">-->
<!--                            </i>-->
                            Kecamatan {{val.kecamatan}}
                        </h6>
<!--                        <h6>-->
<!--                            <i class="fa fa-map-marker-alt">-->
<!--                            </i>-->
<!--                            {{val.alamat_1}} , {{val.alamat_2}} , {{val.alamat_3}}-->
<!--                        </h6>-->
                    </div>
                </div>
                </img>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal-footer" ng-show="!pilih_perusahaan">-->
<!--    <button class="btn btn-sm btn-secondary" ng-click="pilih_perusahaan = true" type="button">-->
<!--        <i class="fa fa-arrow-left"></i> {{bahasa.kembali}}-->
<!--    </button>-->
<!--</div>-->
