<header>
    <!-- header start -->
    <div class="header-classic">
        <!-- navigation start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mobile">
                    <nav class="navbar navbar-expand-lg navbar-classic">
                        <div class="logo-header mobile">
                            <a ui-sref="app.main">
                                <!--                                <img src="img/logo.png" style="width: 100%">-->
                                CAMPUREJO
                            </a>
                        </div>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                                data-target="#navbar-classic" aria-controls="navbar-classic" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="icon-bar top-bar mt-0"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>

                    </nav>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav class="navbar navbar-expand-lg navbar-classic">
                        <div class="logo-header desktop">
                            <a ui-sref="app.main" style="text-decoration: none;font-size: 17px"
                               class="font-weight-bold">
                                <!--                                <img src="img/logo.png" style="width: 100%">-->
                                CAMPUREJO
                            </a>
                        </div>

                        <div class="collapse navbar-collapse" id="navbar-classic">
                            <ul class="navbar-nav  mt-lg-0 mr-3">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       ng-class="{active: $state.includes('website')}">
                                        <!--                                        <i class="fa fa-desktop"></i>-->
                                        <span>Website</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#" ng-class="{
                                            active: $state.includes('website.master')
                                            }">
                                                Master
                                            </a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a class="dropdown-item" ui-sref="website.master.kategori_galeri"
                                                       ui-sref-active="active">
                                                        Kategori Galeri
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" ui-sref="website.master.gallery"
                                                       ui-sref-active="active">
                                                        Galeri
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" ui-sref="website.master.kategori_artikel"
                                                       ui-sref-active="active">
                                                        Kategori Artikel
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" ui-sref="website.master.artikel"
                                                       ui-sref-active="active">
                                                        Artikel
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       ng-if="user.akses.master" ng-class="{active: $state.includes('master')}">
                                        <!--                                        <i class="fa fa-desktop"></i>-->
                                        <span>Master</span>
                                    </a>
                                    <ul class="dropdown-menu">

                                        <a class="dropdown-item" ui-sref="master.akses" ui-sref-active="active"
                                           ng-if="user.akses.setting_akses">
                                            <i class="fa fa-angle-right"></i>
                                            Hak Akses
                                        </a>
                                        <a class="dropdown-item" ui-sref="master.user" ui-sref-active="active"
                                           ng-if="user.akses.setting_user">
                                            <i class="fa fa-angle-right"></i>
                                            Pengguna
                                        </a>
                                        <a class="dropdown-item" ui-sref="master.nomor_surat" ui-sref-active="active"
                                           ng-if="user.akses.setting_nomor_surat">
                                            <i class="fa fa-angle-right"></i>
                                            Nomor Surat
                                        </a>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       ng-if="user.akses.wilayah" ng-class="{active: $state.includes('wilayah')}">
                                        <!--                                        <i class="fa fa-desktop"></i>-->
                                        <span>Wilayah</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item" ui-sref="wilayah.kecamatan" ui-sref-active="active"
                                           ng-if="user.akses.wilayah_kecamatan">
                                            <i class="fa fa-angle-right"></i>
                                            Kecamatan
                                        </a>
                                        <a class="dropdown-item" ui-sref="wilayah.desa" ui-sref-active="active"
                                           ng-if="user.akses.wilayah_desa">
                                            <i class="fa fa-angle-right"></i>
                                            Desa
                                        </a>
                                        <a class="dropdown-item" ui-sref="wilayah.dusun" ui-sref-active="active"
                                           ng-if="user.akses.wilayah_dusun">
                                            <i class="fa fa-angle-right"></i>
                                            Dusun
                                        </a>
                                        <a class="dropdown-item" ui-sref="wilayah.rw" ui-sref-active="active"
                                           ng-if="user.akses.wilayah_rw">
                                            <i class="fa fa-angle-right"></i>
                                            Rukun Warga
                                        </a>
                                        <a class="dropdown-item" ui-sref="wilayah.rt" ui-sref-active="active"
                                           ng-if="user.akses.wilayah_rt">
                                            <i class="fa fa-angle-right"></i>
                                            Rukun Tetangga
                                        </a>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       ng-if="user.akses.penduduk" ng-class="{active: $state.includes('penduduk')}">
                                        <!--                                        <i class="fa fa-desktop"></i>-->
                                        <span>Penduduk</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!--                                        <a class="dropdown-item" ui-sref="penduduk.pekerjaan" ui-sref-active="active"-->
                                        <!--                                           ng-if="user.akses.penduduk_pekerjaan">-->
                                        <!--                                            <i class="fa fa-angle-right"></i>-->
                                        <!--                                            Master Pekerjaan-->
                                        <!--                                        </a>-->
                                        <a class="dropdown-item" ui-sref="penduduk.data" ui-sref-active="active"
                                           ng-if="user.akses.penduduk_data">
                                            <i class="fa fa-angle-right"></i>
                                            Data Penduduk
                                        </a>
                                        <a class="dropdown-item" ui-sref="penduduk.pindah_keluar"
                                           ui-sref-active="active"
                                           ng-if="user.akses.penduduk_pindah_keluar">
                                            <i class="fa fa-angle-right"></i>
                                            Pindah Keluar
                                        </a>
                                        <a class="dropdown-item" ui-sref="penduduk.kelahiran"
                                           ui-sref-active="active"
                                           ng-if="user.akses.penduduk_kelahiran">
                                            <i class="fa fa-angle-right"></i>
                                            Kelahiran
                                        </a>
                                        <a class="dropdown-item" ui-sref="penduduk.kematian"
                                           ui-sref-active="active"
                                           ng-if="user.akses.penduduk_kematian">
                                            <i class="fa fa-angle-right"></i>
                                            Kematian
                                        </a>
                                        <!--                                        <a class="dropdown-item" ui-sref="" ui-sref-active="active"-->
                                        <!--                                           ng-if="user.penduduk.setting_akses">-->
                                        <!--                                            <i class="fa fa-key text-primary"></i>-->
                                        <!--                                            Mutasi Keluar-->
                                        <!--                                        </a>-->
                                        <!--                                        <a class="dropdown-item" ui-sref="" ui-sref-active="active"-->
                                        <!--                                           ng-if="user.penduduk.setting_akses">-->
                                        <!--                                            <i class="fa fa-key text-primary"></i>-->
                                        <!--                                            Pindah RT-->
                                        <!--                                        </a>-->
                                        <!--                                        <a class="dropdown-item" ui-sref="" ui-sref-active="active"-->
                                        <!--                                           ng-if="user.penduduk.setting_akses">-->
                                        <!--                                            <i class="fa fa-key text-primary"></i>-->
                                        <!--                                            Kematian-->
                                        <!--                                        </a>-->
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       ng-if="user.akses.dana_bantuan"
                                       ng-class="{active: $state.includes('dana_bantuan')}">
                                        <i class="fa fa-files"></i>
                                        <span>Dana Bantuan</span>
                                    </a>
                                    <ul class="dropdown-menu dana_bantuan">
                                        <a class="dropdown-item" ui-sref="dana_bantuan.blt" ui-sref-active="active"
                                           ng-if="user.akses.dana_bantuan_blt">
                                            <i class="fa fa-angle-right"></i>
                                            BLT
                                        </a>
                                        <a class="dropdown-item" ui-sref="dana_bantuan.bltdd" ui-sref-active="active"
                                           ng-if="user.akses.dana_bantuan_bltdd">
                                            <i class="fa fa-angle-right"></i>
                                            BLTDD
                                        </a>
                                        <a class="dropdown-item" ui-sref="dana_bantuan.bpnt" ui-sref-active="active"
                                           ng-if="user.akses.dana_bantuan_bpnt">
                                            <i class="fa fa-angle-right"></i>
                                            BPNT
                                        </a>
                                        <a class="dropdown-item" ui-sref="dana_bantuan.bpntd" ui-sref-active="active"
                                           ng-if="user.akses.dana_bantuan_bpntd">
                                            <i class="fa fa-angle-right"></i>
                                            BPNTD
                                        </a>
                                        <a class="dropdown-item" ui-sref="dana_bantuan.burekol" ui-sref-active="active"
                                           ng-if="user.akses.dana_bantuan_burekol">
                                            <i class="fa fa-angle-right"></i>
                                            BUREKOL
                                        </a>
                                        <a class="dropdown-item" ui-sref="dana_bantuan.pkh" ui-sref-active="active"
                                           ng-if="user.akses.dana_bantuan_pkh">
                                            <i class="fa fa-angle-right"></i>
                                            PKH
                                        </a>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       ng-if="user.akses.inventaris" ng-class="{active: $state.includes('inventaris')}">
                                        <!--                                        <i class="fa fa-desktop"></i>-->
                                        <span>Inventaris</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item" ui-sref="inventaris.barang" ui-sref-active="active"
                                           ng-if="user.akses.inventaris_barang">
                                            <i class="fa fa-angle-right"></i>
                                            Barang
                                        </a>
                                        <a ng-if="user.akses.inventaris_inventaris" class="dropdown-item"
                                           ui-sref="inventaris.inventaris" ui-sref-active="active">
                                            <i class="fa fa-angle-right"></i>
                                            Inventaris
                                        </a>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       ng-if="user.akses.surat" ng-class="{active: $state.includes('surat')}">
                                        <!--                                        <i class="fa fa-desktop"></i>-->
                                        <span>Surat</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!--                                        <a class="dropdown-item" ui-sref="surat.master_format_surat"-->
                                        <!--                                           ui-sref-active="active">-->
                                        <!--                                            <i class="fa fa-angle-right"></i>-->
                                        <!--                                            Format Surat-->
                                        <!--                                        </a>-->
                                        <!--                                        <a class="dropdown-item" ui-sref="surat.master_surat" ui-sref-active="active"-->
                                        <!--                                           ng-if="user.akses.master_surat">-->
                                        <!--                                            <i class="fa fa-angle-right"></i>-->
                                        <!--                                            Surat-->
                                        <!--                                        </a>-->
                                        <a ng-if="user.akses.transaksi_surat" class="dropdown-item"
                                           ui-sref="surat.surat_keterangan" ui-sref-active="active">
                                            <i class="fa fa-angle-right"></i>
                                            Surat Keterangan

                                        </a>
                                        <a ng-if="user.akses.surat_surat_keterangan" class="dropdown-item"
                                           ui-sref="surat.transaksi_surat" ui-sref-active="active">
                                            <i class="fa fa-angle-right"></i>
                                            Surat Masuk / Keluar
                                        </a>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       ng-if="user.akses.laporan" ng-class="{active: $state.includes('laporan')}">
                                        <i class="fa fa-files"></i>
                                        <span>Laporan</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <a ng-if="user.akses.laporan_status_bantuan" class="dropdown-item"
                                           ui-sref="laporan.status_bantuan" ui-sref-active="active">
                                            <i class="fa fa-angle-right"></i>
                                            Status Bantuan
                                        </a>
                                        <a ng-if="user.akses.laporan_data_penduduk" class="dropdown-item"
                                           ui-sref="laporan.penduduk" ui-sref-active="active">
                                            <i class="fa fa-angle-right"></i>
                                            Data Penduduk
                                        </a>
                                        <a ng-if="user.akses.laporan_surat" class="dropdown-item"
                                           ui-sref="laporan.surat" ui-sref-active="active">
                                            <i class="fa fa-angle-right"></i>
                                            Surat Masuk/Keluar
                                        </a>
                                        <a ng-if="user.akses.laporan_inventaris" class="dropdown-item"
                                           ui-sref="laporan.inventaris" ui-sref-active="active">
                                            <i class="fa fa-angle-right"></i>
                                            Inventaris Aset Desa
                                        </a>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       ng-if="user.akses.rekap-penduduk"
                                       ng-class="{active: $state.includes('rekap_penduduk')}">
                                        <i class="fa fa-files"></i>
                                        <span>Rekap Penduduk</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <a ng-if="user.akses.rekap-penduduk_pekerjaan" class="dropdown-item"
                                           ui-sref="rekap_penduduk.pekerjaan" ui-sref-active="active">
                                            <i class="fa fa-angle-right"></i>
                                            Pekerjaan
                                        </a>
                                        <a ng-if="user.akses.rekap-penduduk_status_pendidikan" class="dropdown-item"
                                           ui-sref="rekap_penduduk.status-pendidikan" ui-sref-active="active">
                                            <i class="fa fa-angle-right"></i>
                                            Status Pendidikan
                                        </a>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                       ng-if="user.akses.pbb" ng-class="{active: $state.includes('pbb')}">
                                        <i class="fa fa-files"></i>
                                        <span>PBB</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <a ng-if="user.akses.pbb-daftar_himpunan_ketetapan_pajak" class="dropdown-item"
                                           ui-sref="pbb.daftar-himpunan-ketetapan-pajak" ui-sref-active="active">
                                            <i class="fa fa-angle-right"></i>
                                            Daftar Himpunan Ketetapan Pajak
                                        </a>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav ml-auto ">
                                <li class="nav-item dropdown user-login desktop">

                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <!--                                        <img src="img/user.png" class="img-avatar"/>-->
                                        <i class="fa fa-user-check"></i>
                                        <span>{{ user.nama}}</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" ui-sref="app.generator">
                                            <i class="fa fa-check text-primary">
                                            </i>
                                            Generator
                                        </a>
                                        <a class="dropdown-item" ui-sref="pengguna.profil" ng-if="user.m_roles_id != 4">
                                            <i class="fa fa-user-cog text-primary"></i>
                                            Perbarui Profil
                                        </a>
                                        <a class="dropdown-item" ng-click="logout()"
                                           style="cursor: pointer;color: #000000">
                                            <i class="fa fa-sign-out-alt text-primary"></i>
                                            Logout

                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- navigation close -->
    </div>
    <div class="container-fluid mobile" style="margin-top: 70px">
        <div class="row">
            <!--            <div class="col-xs-10">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a type="button" class="btn btn-outline-blue" ng-if="perusahaan.nama != null"
                                   ui-sref="app.sPerusahaan">{{perusahaan.nama}}</a>
                                <a type="button" class="btn btn-outline-blue" ng-if="proyek.nama != null" ui-sref="app.sProyek">{{proyek.nama}}</a>
                            </div>
                        </div>-->
            <div class="col-xs-12">
                <div class="pull-right">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" style="border-bottom: 1px solid #ddd">
                            <i class="fa fa-user"></i>
                            {{ user.nama}}
                        </a>
                        <a class="dropdown-item" ui-sref="pengguna.profil" ng-if="user.m_roles_id != 4">
                            <i class="fa fa-user-cog"></i>
                            Perbarui Profil
                        </a>
                        <a class="dropdown-item" ng-click="logout()"
                           style="cursor: pointer;color: #000000">
                            <i class="fa fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header close -->
</header>