<header>
    <div class="container-fluid header-top">
        <div class="row">
            <div class="col-md-12 d-none d-sm-block">
                <nav class="navbar navbar-expand-lg navbar-classic">
                    <div class="logo-header desktop">
                        <a ui-sref="app.main" class="font-weight-bold" style="font-size: 20px;text-decoration: none">
                            <!--                            <img src="img/logo-removebg.png" style="width: 100%">-->
                            <!--                            SIDESA-->
                            <!--                            {{ setting_logo.nama }}-->
                            <i class="fa fa-desktop"></i>
                            <!--                            <img src="img/setting_aplikasi/{{setting_logo.logo}}" style="width: 120%; padding-right: 15px;">-->

                            <!--                            tes-->
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ol breadcrumb="" class="breadcrumb d-md-down-none">
                            <!-- <li class="breadcrumb-item" ng-switch="$last || !!step.abstract"><a ng-switch-when="false" ui-sref="apps.sPerusahaan({last_state:$state.current.name})" uib-tooltip="Akses Perusahaan" tooltip-placement="bottom">{{perusahaan.nama}}</a></li> -->
                            <!-- <li class="breadcrumb-item" ng-switch="$last || !!step.abstract"><a ng-switch-when="false" ui-sref="apps.sProyek({last_state:$state.current.name})" uib-tooltip="Akses Proyek" tooltip-placement="bottom">{{proyek.nama}}</a></li> -->
                            <ncy-breadcrumb class="d-md-down-none" style=""></ncy-breadcrumb>
                        </ol>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-classic">
                        <ul class="nav navbar-nav ml-auto ">
                            <!-- <li class="nav-item dropdown d-md-down-none user-login mb-r-5">
                                <a class="nav-link" ui-sref="setting.setting" ui-sref-active="active"
                                       uib-tooltip="Setting" tooltip-placement="bottom">
                                    <span style="font-size: 14px;font-weight: bold;letter-spacing: 1px"><i class="fa fa-cog fa-header"></i></span>
                                </a>
                            </li> -->
                            <div ng-include="'tpl/common/menu/top-menu.html'" include-replace></div>
                            <li class="nav-item dropdown user-login desktop">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false" tooltip-placement="left">
                                    <!--                                    <i class="fa fa-user-circle fa-header"></i>-->
                                    <span style="font-size: 14px;font-weight: bold;letter-spacing: 1px">
                                    {{user.nama}}
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" ui-sref="pengguna.profil">
                                        <i class="fa fa-user-cog text-primary"></i>
                                        Update Profile
                                    </a>
                                    <a class="dropdown-item" ng-click="logout()"
                                       style="cursor: pointer;color: #000000">
                                        <i class="fa fa-sign-out-alt text-primary"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="header-classic">
        <!-- navigation start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mobile">
                    <nav class="navbar navbar-expand-lg navbar-classic">
                        <div class="container-fluid">
                            <div class="navbar-header" style="width: 100%;">
                                <div class="navbar-brand" style="width: 100%;">
                                    <a ui-sref="app.main">
                                        <img src="img/logo.png" style="width: 150px; height: 40px; border-radius: 8px;">
                                    </a>
                                    <div style="float: right;">
                                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                                                data-target="#navbarSupportedContent"
                                                aria-controls="navbarSupportedContent"
                                                aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="icon-bar top-bar mt-0"></span>
                                            <span class="icon-bar middle-bar"></span>
                                            <span class="icon-bar bottom-bar"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <!--                                    <li class="nav-item active">-->
                                    <!--                                        <div class="nav-link">-->
                                    <!--                                            <a ui-sref="app.main">-->
                                    <!--                                                <i class="fa fa-home nav-icon"></i> Dashboard-->
                                    <!--                                            </a>-->
                                    <!--                                        </div>-->
                                    <!--                                    </li>-->
                                    <li class="nav-item active">
                                        <div class="nav-link">
                                            <a ui-sref="app.kategori_galeri">
                                                <i class="fa fa-camera nav-icon"></i> Gallery
                                            </a>
                                        </div>
                                    </li>
                                    <li class="nav-item active">
                                        <div class="nav-link">
                                            <a ui-sref="app.artikel">
                                                <i class="fa fa-pagelines nav-icon"></i> Artikel
                                            </a>
                                        </div>
                                    </li>
                                    <li class="nav-item active">
                                        <div class="nav-link">
                                            <a ui-sref="app.artikel">
                                                <i class="fa fa-pagelines nav-icon"></i> Setting
                                            </a>
                                        </div>
                                    </li>
                                    <!--                                    <div class="nav-link" ng-include="'tpl/common/menu/menu.html?1'" include-replace></div>-->
                                    <div class="nav-link" ng-include="'tpl/common/menu/top-menu.html?1'"
                                         include-replace></div>
                                    <li class="nav-item">
                                        <div class="nav-link">
                                            <a class="nav-link" ng-click="logout()"
                                               style="cursor: pointer;color: #000000">
                                                <i class="fa fa-sign-out-alt nav-icon"></i>
                                                Logout
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding: 0px 5px">
                    <nav class="navbar navbar-expand-lg navbar-classic">
                        <div class="collapse navbar-collapse p-0">
                            <ul class="navbar-nav mt-lg-0 mr-3">
                                <!--                                <li class="nav-item">-->
                                <!--                                    <a ui-sref="app.main" class="nav-link" ui-sref-active="active">-->
                                <!--                                        <i class="fa fa-home nav-icon"></i> Dashboards-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                                <li class="nav-item">
                                    <a ui-sref="app.kategori_galeri" class="nav-link" ui-sref-active="active">
                                        <i class="fa fa-camera nav-icon"></i> Gallery
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a ui-sref="app.artikel" class="nav-link" ui-sref-active="active">
                                        <i class="fa fa-file nav-icon"></i> Artikel
                                    </a>
                                </li>
                                <li class="nav-item" ng-if="user.akses.setting_aplikasi">
                                    <a ui-sref="master.setting_aplikasi" class="nav-link" ui-sref-active="active">
                                        <i class="fa fa-cogs nav-icon"></i> Setting
                                    </a>
                                </li>
                                <!--                                <div ng-include="'tpl/common/menu/menu.html?1'" include-replace></div>-->
                            </ul>
                        </div>
                        <!--                        <div>-->
                        <!--                            <ul class="navbar-nav mt-lg-0 pull-right d-none d-sm-block">-->
                        <!--                                <li class="nav-item dropdown">-->
                        <!--                                    <a class="nav-link active" href="#">-->
                        <!--                                        Login By {{user.nama}}-->
                        <!--                                    </a>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </nav>
                </div>
            </div>
        </div>
        <!-- navigation close -->
    </div>
    <div class="container-fluid mobile" style="margin-top: 70px">
        <div class="row">
            <div class="col-xs-12">
                <!-- <div class="pull-right">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" style="border-bottom: 1px solid #ddd">
                            <i class="fa fa-user"></i>
                            {{ user.nama}}
                        </a>
                        <a class="dropdown-item" ui-sref="pengguna.profil">
                            <i class="fa fa-user-cog"></i>
                            {{master_bahasa[user.bahasa].perbarui_profil}}
                        </a>
                        <a class="dropdown-item" ng-click="logout()"
                           style="cursor: pointer;color: #000000">
                            <i class="fa fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</header>
