<div class="animated fadeIn">
    <div ng-controller="msettingaplikasiCtrl">
        <div class="card mt-3">
            <div class="card-header">
                <strong>
                    Setting Aplikasi
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">
                                            Nama Desa
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.nama" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">
                                            Alamat
                                        </label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control form-control-sm"
                                                      ng-model="form.alamat" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">
                                            Deskripsi
                                        </label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control form-control-sm"
                                                      ng-model="form.deskripsi" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">
                                            Keyword
                                        </label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control form-control-sm"
                                                      ng-model="form.keywords" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="col-sm-3 col-form-label-sm ">
                                            Kategori Kegiatan
                                        </label>
                                        <div class="col-sm-9">
                                            <ui-select ng-disabled="is_view" ng-model="form.kategori_kegiatan"
                                                       style="width: 100%;" theme="bootstrap">
                                                <ui-select-match placeholder="Pilih Kategori Artikel Kegiatan">
                                                    {{$select.selected.nama}}
                                                </ui-select-match>
                                                <ui-select-choices
                                                        repeat="val in dataKategori | filter : $select.search">
                                                    {{val.nama}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="col-sm-3 col-form-label-sm ">
                                            Kategori Berita
                                        </label>
                                        <div class="col-sm-9">
                                            <ui-select ng-disabled="is_view" ng-model="form.kategori_berita"
                                                       style="width: 100%;" theme="bootstrap">
                                                <ui-select-match placeholder="Pilih Kategori Artikel Berita">
                                                    {{$select.selected.nama}}
                                                </ui-select-match>
                                                <ui-select-choices
                                                        repeat="val in dataKategori | filter : $select.search">
                                                    {{val.nama}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <!--                                    <div class="form-group row">-->
                                    <!--                                        <label class="col-sm-3 col-form-label-sm required">Desa</label>-->
                                    <!--                                        <div class="col-sm-9">-->
                                    <!--                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"-->
                                    <!--                                                       ng-model="form.desa" theme="bootstrap" style="width: 100%">-->
                                    <!--                                                <ui-select-match placeholder="Masukkan 3 Karakter">-->
                                    <!--                                                    <b>{{ $select.selected.desa}}</b> - {{ $select.selected.kecamatan}}-->
                                    <!--                                                </ui-select-match>-->
                                    <!--                                                <ui-select-choices position="down"-->
                                    <!--                                                                   refresh="getDesa($select.search,null,'search')"-->
                                    <!--                                                                   repeat="val in listDesa">-->
                                    <!--                                                    <b>{{ val.desa}}</b> - {{ val.kecamatan}}-->
                                    <!--                                                </ui-select-choices>-->
                                    <!--                                            </ui-select>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->

                                </div>
                                <!--                                <div class="col-md-6">-->
                                <!--                                    <div class="form-group row">-->
                                <!--                                        <label class="col-sm-3 col-form-label-sm">Logo</label>-->
                                <!--                                        <div class="col-sm-9">-->
                                <!--                                            <div style="text-align:center; overflow: hidden;background-color: rgba(0, 0, 0, 0.23);">-->
                                <!--                                                <img class="img img-responsive img-produk img-thumbnail"-->
                                <!--                                                     data-ng-src="data:image/png;base64,{{form.logo.base64}}"-->
                                <!--                                                     id="image" ng-if="!!form.logo.base64"/>-->
                                <!--                                                <img class="img img-responsive img-produk img-thumbnail"-->
                                <!--                                                     id="image"-->
                                <!--                                                     ng-if="!form.logo.base64 && !!form.logo"-->
                                <!--                                                     ng-src="api/{{form.path_kop}}/{{form.logo}}"/>-->
                                <!--                                                <img class="img img-responsive img-produk img-thumbnail"-->
                                <!--                                                     id="image"-->
                                <!--                                                     ng-if="!form.logo.base64 && !form.logo"-->
                                <!--                                                     ng-src="img/no-image.png"-->
                                <!--                                                     style="background-color: #f6f6f6;"/>-->
                                <!--                                            </div>-->
                                <!--                                            <div class="fileUploadr btn btn-primary edit" ng-if="!is_view"-->
                                <!--                                                 style="width: 100%;">-->
                                <!--                                                <input accept="image/*" base-sixty-four-input="" class="upload"-->
                                <!--                                                       ng-model="form.logo" style="width: 100%;"-->
                                <!--                                                       type="file"/>-->
                                <!--                                            </div>-->
                                <!--                                            <div>-->
                                <!--                                            </div>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">
                                            Kode POS
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.kode_pos" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">
                                            Whatsapp
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.no_hp" type="text"/>
                                            <span class="text-warning"><br/>* Contoh : 6282244440928 (Pakai 62 dan tanpa spasi atau karakter)</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">
                                            Email
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.email" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">
                                            Facebook
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.url_facebook" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">
                                            Youtube
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.url_youtube" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">
                                            Instagram
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.url_instagram" type="text"/>
                                        </div>
                                    </div>
                                    <!--                                    <div class="form-group row">-->
                                    <!--                                        <label class="col-sm-3 col-form-label-sm">Kop Surat</label>-->
                                    <!--                                        <div class="col-sm-9">-->
                                    <!--                                            <div style="text-align:center; overflow: hidden;background-color: rgba(0, 0, 0, 0.23);">-->
                                    <!--                                                <img class="img img-responsive img-produk img-thumbnail"-->
                                    <!--                                                     data-ng-src="data:image/png;base64,{{form.kop_surat.base64}}"-->
                                    <!--                                                     id="image" ng-if="!!form.kop_surat.base64"/>-->
                                    <!--                                                <img class="img img-responsive img-produk img-thumbnail" id="image"-->
                                    <!--                                                     ng-if="!form.kop_surat.base64 && !!form.kop_surat"-->
                                    <!--                                                     ng-src="api/{{form.path_kop}}/{{form.kop_surat}}"/>-->
                                    <!--                                                <img class="img img-responsive img-produk img-thumbnail" id="image"-->
                                    <!--                                                     ng-if="!form.kop_surat.base64 && !form.kop_surat"-->
                                    <!--                                                     ng-src="img/no-image.png" style="background-color: #f6f6f6;"/>-->
                                    <!--                                            </div>-->
                                    <!--                                            <div class="fileUploadr btn btn-primary edit" ng-if="!is_view"-->
                                    <!--                                                 style="width: 100%;">-->
                                    <!--                                                <input accept="image/*" base-sixty-four-input="" class="upload"-->
                                    <!--                                                       ng-model="form.kop_surat" style="width: 100%;" type="file"/>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <!--                    <button class="btn btn-secondary btn-sm" ng-click="cancel()" type="submit">-->
                    <!--                        <i class="fa fa-arrow-left">-->
                    <!--                        </i>-->
                    <!--                        Kembali-->
                    <!--                    </button>-->
                    <button button-spinner="loading" class="btn btn-primary btn-sm" ng-click="save(form)"
                            ng-disabled="loading" ng-hide="is_view" type="submit">
                        <i class="fa fa-save">
                        </i>
                        Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class=
