<title>
    Rekap Penduduk
</title>
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
        color: black;
        border: 1px solid #2f2f2f;
        border-width: thin;
        vertical-align: middle;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .text-capitalize {
        text-transform: capitalize !important;
    }

    .l_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0px;
    }

    .ket_gd {
        margin: 0px;
        margin-top: 2px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h4 {
        font-size: 14px;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div>
                    <h4 class="l_title">Rekap Penduduk berdasarkan Kematian</h4>
                </div>
                <br>
            </div>
        </div>

        <div>
            <table>
                <thead>
                <thead>
                <tr class="align-center">
                    <th style="background-color: #ececec" rowspan="2">No.</th>
                    <th style="background-color: #ececec" rowspan="2">Nama</th>
                    <th style="background-color: #ececec" rowspan="2">Tempat Tanggal Lahir</th>
                    <th style="background-color: #ececec" colspan="2">Meninggal</th>
                    <th style="background-color: #ececec" rowspan="2">Tanggal/Th Meninggal</th>
                    <th style="background-color: #ececec" rowspan="2">Umur Waktu Meninggal</th>
                    <th style="background-color: #ececec" rowspan="2">Keterangan</th>
                </tr>
                <tr>
                    <th style="background-color: #ececec">Hari</th>
                    <th style="background-color: #ececec">Jam</th>
                </tr>
                </thead>
                <tbody ng-show="!isLoading">
                {% for key,row in data%}
                <tr ng-repeat="row in dataLaporan" class="align-center">
                    <td class="text-capitalize" style="text-align: center">{{ key + 1 }}</td>
                    <td class="align-left ">{{ row.nama }}</td>
                    <td style="text-align: center">{{ row.tempat_lahir }}, {{ row.tgl_lahir }}</td>
                    <td style="text-align: center">{{ row.hari }}</td>
                    <td style="text-align: center">{{ row.pukul }}</td>
                    <td style="text-align: center">{{ row.tgl_kematian }}</td>
                    <td style="text-align: center">{{ row.umur }}</td>
                    <td style="text-align: center">{{ row.shdk }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>