<div class="modal-header bg-primary">
    <h5 class="modal-title">Tambah Data</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-dominan">
                    <tr>
                    <tr>
                        <th class="align-center" style="width: 10px; padding: 7px;">
                            <button type="button" class="btn btn-sm btn-success fa fa-plus"
                                    ng-click="addDetailInterest(listDetailInterest)"
                                    ng-disabled="is_view"></button>
                        </th>
                        <th class="align-center">Youtube URL</th>
                        <th class="align-center">Youtube ID</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="v in listDetailInterest">
                        <td class="align-center" style="width: 10px; padding: 7px;">
                            <button type="button" class="btn btn-sm btn-danger fa fa-trash"
                                    ng-click="removeDetailInterest(listDetailInterest, $index)"
                                    ng-disabled="is_view"></button>
                        </td>
                        <td class="align-left" style="width:20%">
                            <div class="input-group input-group-sm">
                                <div class="input-group" style="width:100%">
                                    <input class="form-control form-control-sm angka"
                                           ng-disabled="is_view" ng-model="v.jarak" type="text"/>
                                </div>
                            </div>
                        </td>
                        <td class="align-left" style="width:50%">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-sm" ng-model="v.keterangan"
                                       type="text"/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-secondary btn-sm" ng-click="close()">
            <i class="fa fa-recycle"></i>
            &nbsp;Reset
        </button>
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="save(row)">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
        </button>
    </div>
</div>