<div class="modal-body" style="padding: 0px !important;">
    <form name="landaform" novalidate="">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                <div>
                    <iframe ng-src="{{trustSrc(convertUrl)}}"></iframe>
                </div>
            </div>
        </div>
    </form>
</div>
