<div class="animated fadeIn">
    <div ng-controller="aksesCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Hak Akses</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Tambahkan Hak Akses Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0px">
                                        <label for="nama" class="col-sm-1 col-form-label-sm mb-0px">Nama</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control form-control-sm" st-search="nama"
                                                   id="nama" placeholder="Cari berdasarkan nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0px">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th st-sort="m_roles.nama" width="20%">Nama</th>
                            <!--<th>Perusahaan</th>-->
                            <!--<th>Proyek</th>-->
                            <th>Super Admin</th>
                            <th>Desa</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{ row.nama}}</td>
                            <td>
                                <span class="badge badge-success badge-pill" ng-if="row.is_super_admin == 1">Ya</span>
                                <span class="badge badge-danger badge-pill" ng-if="row.is_super_admin == 0">Tidak</span>
                            </td>
                            <td>
                                <span ng-if="row.is_super_admin != 1">
                                <b>{{ row.nama_desa}}</b> - {{ row.kecamatan.kecamatan}}
                                </span>
                            </td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-if="row.is_deleted == 0"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0"
                                            ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-recycle"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="nama" class="col-sm-4 col-form-label-sm mb-0px">Nama Hak Akses</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                           id="nama"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="user.is_super_admin == 1">
                            <div class="form-group row">
                                <label for="nama" class="col-sm-4 col-form-label-sm mb-0px">Super Admin</label>
                                <div class="col-sm-8">
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <label class="btn btn-sm btn-primary" ng-disabled="is_view"
                                                   ng-model="form.is_super_admin" uib-btn-radio="1">
                                                <i class="fa fa-check" ng-if="form.is_super_admin == 1"></i>
                                                Ya
                                            </label>
                                            <label class="btn btn-sm btn-primary" ng-disabled="is_view"
                                                   ng-model="form.is_super_admin" uib-btn-radio="0">
                                                <i class="fa fa-check" ng-if="form.is_super_admin == 0"></i>
                                                Tidak
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" ng-if="(form.is_super_admin == 0 || user.is_super_admin == 0)">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Kabupaten</label>
                                <div class="col-sm-8">
                                    <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view || user.is_super_admin == 0"
                                               ng-model="form.kabupaten" theme="bootstrap" style="width: 100%"
                                               on-select="getKecamatan(form.kabupaten.id)">
                                        <ui-select-match placeholder="Masukkan 3 Karakter">
                                            <b>{{ $select.selected.kabupaten}}</b> - {{ $select.selected.provinsi}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           refresh="getKabupaten($select.search,'search')"
                                                           repeat="val in listKabupaten">
                                            <b>{{ val.kabupaten}}</b> - {{ val.provinsi}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">
                                    Kecamatan
                                </label>
                                <div class="col-sm-8">
                                    <ui-select class="w-100" ng-disabled="form.kabupaten == undefined || is_view || user.is_super_admin == 0"
                                               ng-model="form.kecamatan"
                                               on-select="getDesa(null,form.kecamatan.id, null)"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Kecamatan">
                                            <b>{{ $select.selected.kecamatan}}</b> - {{ $select.selected.kabupaten}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listKecamatan | filter : $select.search">
                                            <b>{{ value.kecamatan}}</b> - {{ value.kabupaten}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm ">
                                    Desa
                                </label>
                                <div class="col-sm-8">
                                    <ui-select class="w-100" ng-disabled="form.kecamatan == undefined || is_view || user.is_super_admin == 0"
                                               ng-model="form.desa" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Desa">
                                            <b>{{ $select.selected.desa}}</b> - {{ $select.selected.kecamatan}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listDesa | filter : $select.search">
                                            <b>{{ value.desa}}</b> - {{ value.kecamatan}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <h6 class="font-weight-bold">Detail Hak Akses</h6>
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panels panel-primary border-primary mb-3">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.setting"
                                               ng-click="checkAll('setting', form.akses.setting)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Setting
                                    </label>
                                </div>
                                <div class="list-group bg-white setting">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.setting_akses"
                                                   type="checkbox"/>
                                            <i></i>
                                            Hak Akses
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.setting_user"
                                                   type="checkbox"/>
                                            <i></i>
                                            User
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.setting_aplikasi"
                                                   type="checkbox"/>
                                            <i></i>
                                            Setting Aplikasi
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.surat"
                                                   type="checkbox"/>
                                            <i></i>
                                            Surat
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel panels panel-primary">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.master" ng-click="checkAll('master', form.akses.master)" class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Data Master
                                    </label>
                                </div>
                                <div class="list-group bg-white master">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.artikel" type="checkbox"/>
                                            <i></i>
                                            Artikel
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white master">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.kategori_artikel" type="checkbox"/>
                                            <i></i>
                                            Kategori Artikel
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white master">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.kategori_galeri" type="checkbox"/>
                                            <i></i>
                                            Kategori Gallery
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white master">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.gallery" type="checkbox"/>
                                            <i></i>
                                            Gallery
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                    <i class="fa fa-arrow-left"></i>
                    &nbsp;Kembali
                </button>
                <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                        ng-disabled="loading" ng-click="save(form)">
                    <i class="fa fa-save"></i>
                    &nbsp;Simpan
                </button>
            </div>
        </div>
    </div>
</div>
</div>